<% if mobile_device? %>
  <div class="card-profile">
    <div class="ds-top"></div>
    <div class="avatar-holder">
      <% if current_user.photo.attached? %>
        <div class="around">
          <%= cl_image_tag current_user.photo.key, crop: :fit, class: "" %>
        </div>
      <% else %>
        <div class="around">
          <%= image_tag "avatar-bike.png", class: "" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="profile-content mb-3">
    <% if current_user.full_name.present? %>
      <h3 class="title text-center mt-5"><%= current_user.full_name %></h3>
    <% else %>
      <h3 class="title text-center mt-5"><%= current_user.email %></h3>
    <% end %>
    <div class="text-center">
      <% if current_user.phone_number.present? %>
        <h4 class="title text-center"><%= current_user.phone_number %></h4>
      <% end %>
      <% if current_user.show_contact %>
        <span class="text-success"><i class="fas fa-eye me-2"></i>Mostrar contato</span>
      <% else %>
        <span class="text-danger"><i class="fas fa-eye me-2"></i>Não mostrar contato</span>
      <% end %>
    </div>

    <div class="d-flex flex-column px-5 gap-3 mt-3">
      <button type="button" class="profile-links-mobile fs-18 modal-btn-mobile edit-profile-modal-btn" id="user-edit-profile" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fas fa-edit me-2"></i>EDITAR USUÁRIO
      </button>
      <%= link_to advertisements_path, class: " profile-links-mobile fs-18 text-center user-advertisements-btn", id: "user-advertisements" do %>
        <i class="fas fa-shopping-bag me-2 "></i>ANÚNCIOS
        <% if current_user.advertisements.present? %>
          <span class="badge-mobile badge-danger"><%= current_user.advertisements.where(status: "approved").count %></span>
        <% end %>
      <% end %>
      <%= link_to likes_path, class: "profile-links-mobile fs-18 text-center user-favorites-btn", id: "user-likes" do %>
        <i class="fas fa-heart me-2"></i>FAVORITOS
      <% end %>
      <%= link_to chats_path, class: "profile-links-mobile fs-18 text-center user-chat-btn", id: "user-chats" do %>
        <i class="far fa-comment-alt me-2"></i>CHAT
        <% if Notification.where(recipient_id: current_user).where(read_at: nil).count > 0 %>
          <span class="badge-mobile badge-danger">+ <%= Notification.where(recipient_id: current_user).where(read_at: nil).count %></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- Modal -->
  <div class="">
    <div class="modal fade  modal-profile" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="background-color: #101010;">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">Editar informações</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for @profile, :url => profiles_path, :method => :patch do |f| %>
              <%= f.input :full_name, label: "Nome completo", label_html: { class: "#{mobile_device? ? "mt-3" : "mt-3"}" } %>
                <div class="<%= mobile_device? ? "d-block" : "d-flex justify-content-around gap-2" %>">
                  <%= f.input :document_number, label: "CPF", input_html: { class: "mask-cpf" }, label_html: { class: "#{mobile_device? ? "mt-3" : "mt-3"}" }  %>
                  <%= f.input :phone_number, label: "Celular", input_html: { class: "mask-phone" }, label_html: { class: "#{mobile_device? ? "mt-3" : "mt-3"}" } %>
                </div>
                <%= f.input :cep, input_html: { class: "mask-cep" }, label_html: { class: "#{mobile_device? ? "mt-3" : "mt-3"}" } %>
                <%= f.input :address, label: "Endereço", label_html: { class: "#{mobile_device? ? "mt-3" : "mt-3"}" } %>
                <%= f.input :show_contact, label: "Permitir informações de contato no anúncio?", as: :boolean, input_html: { class: "mt-3" }, label_html: { class: "#{mobile_device? ? "mt-3" : "mt-2"} fs-14" } %>
                <div class="image-upload">
                  <label for="user-avatar" class="upload-button-label">
                    Foto <i class="fas fa-camera upload-button fs-22"></i>
                    <%= f.file_field(:photo, multiple: false, id: "user-avatar", class: "d-none", onchange: "showSelectedFile(this)") %>
                  </label>
                  <span id="selected-file-name" class="d-none"></span>
                </div>
                <%= f.submit "Editar", class: "btn btn-success mt-3 w-100 edit-profile-submit-btn" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="page-wrapper">
    <div class="d-flex justify-content-between align-items-center">

      <% if current_user.full_name.present? %>
        <h1 class="title"><%= current_user.full_name %></h1>
      <% else %>
        <h1 class="title"><%= current_user.email %></h1>
      <% end %>

      <% if current_user.photo.attached? %>
        <div class="around">
          <%= cl_image_tag current_user.photo.key, crop: :fit, class: "avatar-profile mb-2" %>
        </div>
      <% else %>
        <div class="around">
          <%= image_tag "avatar-bike.png", class: "avatar-profile mb-2" %>
        </div>
      <% end %>
    </div>


    <div class="bg-card-dark br-12 p-5">
      <div class="d-flex justify-content-between flex-wrap mobile-profile">
        <button type="button" class="profile-links edit-modal edit-profile-modal-btn" id="user-edit-profile" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fas fa-edit me-2"></i>EDITAR USUÁRIO
        </button>
        <%= link_to advertisements_path, class: " profile-links text-success user-advertisements-btn", id: "user-advertisements" do %>
          <i class="fas fa-shopping-bag me-2 "></i>ANÚNCIOS
        <% end %>

        <%= link_to likes_path, class: "profile-links text-success user-favorites-btn", id: "user-likes" do %>
          <i class="fas fa-heart me-2"></i>FAVORITOS
        <% end %>
        <%= link_to chats_path, class: "profile-links text-success user-chat-btn", id: "user-chats" do %>
          <i class="far fa-comment-alt me-2"></i>CHAT
          <% if Notification.where(recipient_id: current_user).where(read_at: nil).count > 0 %>
            <span class="badge badge-danger">+ <%= Notification.where(recipient_id: current_user).where(read_at: nil).count %></span>
          <% end %>
        <% end %>
      </div>


      <!-- Modal -->
      <div class="modal fade modal-profile" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="background-color: #101010;">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">Editar informações</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= simple_form_for @profile, :url => profiles_path, :method => :patch do |f| %>
                <%= f.input :full_name, label: "Nome completo", label_html: { class: "#{mobile_device? ? "" : "mt-3"}" } %>
                <div class="<%= mobile_device? ? "d-block" : "d-flex justify-content-around gap-2" %>">
                  <%= f.input :document_number, label: "CPF", input_html: { class: "mask-cpf" }, label_html: { class: "#{mobile_device? ? "" : "mt-3"}" }  %>
                  <%= f.input :phone_number, label: "Celular", input_html: { class: "mask-phone" }, label_html: { class: "#{mobile_device? ? "" : "mt-3"}" } %>
                </div>
                <%= f.input :cep, input_html: { class: "mask-cep" }, label_html: { class: "#{mobile_device? ? "" : "mt-3"}" } %>
                <%= f.input :address, label: "Endereço", label_html: { class: "#{mobile_device? ? "" : "mt-3"}" } %>
                <%= f.input :show_contact, label: "Permitir informações de contato no anúncio?", as: :boolean, input_html: { class: "mt-3" }, label_html: { class: "#{mobile_device? ? "" : "mt-2"} fs-16" } %>
                <div class="image-upload">
                  <label for="user-avatar" class="upload-button-label">
                    Foto <i class="fas fa-camera upload-button fs-22"></i>
                    <%= f.file_field(:photo, multiple: false, id: "user-avatar", class: "d-none", onchange: "showSelectedFile(this)") %>
                  </label>
                  <span id="selected-file-name" class="d-none"></span>
                </div>
                <%= f.submit "Editar", class: "btn btn-success mt-3 w-100 edit-profile-submit-btn" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="user-infos mt-5">
        <h4 class="text-white"><span class="text-gray">Nome:</span> <%= @profile.full_name %></h4>
        <h4 class="text-white" ><span class="text-gray">Email:</span> <%= @profile.email %></h4>
        <h4 class="text-white" ><span class="text-gray">Documento:</span> <%= @profile.document_number %></h4>
        <h4 class="text-white" ><span class="text-gray">Contato:</span> <%= @profile.phone_number %></h4>
        <h4 class="text-white" ><span class="text-gray">Endereço:</span> <%= @profile.address %></h4>
        <h4 class="text-white" ><span class="text-gray">CEP:</span> <%= @profile.cep %></h4>
        <h4 class="text-white" ><span class="text-gray">Contato visível:</span> <%= @profile.show_contact? ? 'Sim' : "Não" %></h4>
      </div>
    </div>
  </div>
<% end %>

<script>
  function showSelectedFile(input) {
    var fileName = input.files[0].name;
    var selectedFileName = document.getElementById("selected-file-name");
    selectedFileName.innerText = fileName;
    selectedFileName.classList.remove("d-none");
  }
</script>
