<body style="font-family: Arial, Helvetica, sans-serif; width: 90%; margin-top: 10px; border: 1px solid red; border-radius: 10px; box-shadow: 0 0 20px rgba(0,0,0,0.3); align-items: center; margin: 20px auto; padding-bottom: 20px;">
  <div class="orange" style="background-color: red; padding: 5px; text-align: center; border-radius: 10px 10px 0 0; color: white !important;">
    <h3>Quase lá! revise seu anúncio para publicá-lo</h3>
  </div>
  <div class="mail-content" style="padding: 0 20px;">
    <% if @advertisement.user.full_name %>
    <h2 class="item-name" style="color: gray;">Olá <%= @advertisement.user.full_name %></h2>
    <% else %>
    <h2 class="item-name" style="color: gray;">Olá</h2>
    <% end %>
    <p class="item-name" style="color: gray;">Seu anúncio foi analisado pela nossa equipe e é necessário revisá-lo para se adequar às nossas diretrizes de segurança e/ou qualidade. Isso aumentará a qualidade do seu anúncio e as chances de vender o seu produto! </p>
    <p style="color: gray;">Revise os campos abaixo:</p>
    <div class="review-result" style="display: flex; gap: 30px;">

        <table>
          <tbody class="mt-3">
            <% @attrs_rejected.zip(@values_to_review).each do |key, value| %>
              <tr>
                <td class="item-name" style="color: gray;"><%= key %>:</td>
                <td class="item-name ml-10" style="color: gray; margin-left: 10px;"><%= value %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

    </div>
    <% if @comments %>
      <p style="color: gray;">Considere esta nota da nossa equipe para te ajudar:</p>
      <p style="color: gray;">"<%= @comments %>"</p>
    <% end %>
    <% if @advertisement.advertisable_type == "Product" %>
      <div class="invoice-link" style="text-align: center; margin: 0 !important;">
        <a href="https://market.nuflow.com.br/products/<%= @advertisement.advertisable_id %>/edit" target="_blank" class="btn-invoice" style="background-color: transparent; border-radius: 4px; color: #00c454; cursor: pointer; display: inline-block; padding: 7px 20px; text-align: center; text-decoration: none; transition: all 250ms; border: 1px solid #00c454; font-size: 16px; user-select: none; -webkit-user-select: none; touch-action: manipulation;">Editar</a>
      </div>
    <% else %>
      <div class="invoice-link" style="text-align: center; margin: 0 !important;">
        <a href="https://market.nuflow.com.br/bikes/<%= @advertisement.advertisable_id %>/edit" target="_blank" class="btn-invoice" style="background-color: transparent; border-radius: 4px; color: #00c454; cursor: pointer; display: inline-block; padding: 7px 20px; text-align: center; text-decoration: none; transition: all 250ms; border: 1px solid #00c454; font-size: 16px; user-select: none; -webkit-user-select: none; touch-action: manipulation;">Editar</a>
      </div>
    <% end %>
    <h2 style="color: gray;">Detalhes do seu pedido:</h2>
    <p style="color: gray;"><strong class="item-name" style="color: gray;">Pedido:</strong> #<%= @advertisement.id %></p>
    <p style="color: gray;"><strong class="item-name" style="color: gray;">Total:</strong> <%=number_to_currency(@advertisement.price_in_cents / 100, unit: "R$", separator: ",", delimiter: ".") %></p>
    <p style="color: gray;"><strong class="item-name" style="color: gray;">Anunciado:</strong> <%= @advertisement.advertisable_display %></p>
    <p style="color: gray;"><strong class="item-name" style="color: gray;">Status:</strong> <%= @advertisement.status_display %></p>
    <h6 style="font-size: 12; font-weight: lighter; text-align: center; margin-bottom: 0; margin-top: 40px;">Dúvidas? Entre em contato através do email <strong>atendimento@nuflow.com.br</strong></h6>
    <hr class="footer-line" style="border: 0.1px solid #00c454; width: 30%; height: 0.2px;">
    <div class="footer" style="text-align: center;">

      <%= image_tag attachments["white_logo.png"].url, class: "footer-brand", style: "height: 6rem;"%>
      <div class="social-icons" style="text-align: center;  gap: 10px;">
        <a href="https://www.youtube.com/channel/UCMvz9XhN0wl39RK4y7Q7cEw" class="footer-icon" style="width: 22px; height: 22px;"><%= image_tag attachments['youtube.png'].url, class: "social-icon", style:"width: 22px; height: 22px;" %></a>
        <a href="https://www.instagram.com/_nuflow_/"><%= image_tag attachments["instagram.png"].url, class: "social-icon", style:"width: 22px; height: 22px;" %></a>
      </div>
    </div>
  </div>
</body>
