<body style="font-family: Arial, Helvetica, sans-serif; width: 90%; margin-top: 10px; border: 1px solid #00c454; border-radius: 10px; box-shadow: 0 0 20px rgba(0,0,0,0.3); align-items: center; margin: 20px auto; padding-bottom: 20px;">
  <div class="orange" style="background-color: #00c454; padding: 5px; text-align: center; border-radius: 10px 10px 0 0; color: white !important;">
    <h3>Seu anúncio foi recebido e será publicado em breve.</h3>
  </div>
  <div class="mail-content" style="padding: 0 20px;">
    <% if @advertisement.user.full_name %>
    <h2 class="text-center" style="color: gray; text-align: center;">Olá <%= @advertisement.user.full_name %>,</h2>
    <% else %>
    <h2 class="text-center" style="color: gray; text-align: center;">Olá,</h2>
    <% end %>
    <p class="text-center" style="color: gray; text-align: center;">Recebemos o seu anúncio e seu pagamento já foi confirmado!</p>
    <p class="text-center" style="color: gray; text-align: center;">Seu anúncio será analisado pela nossa equipe e se estiver tudo certo será publicado em nossa plataforma.</p>
    <p class="text-center" style="color: gray; text-align: center;">Você receberá a confirmação de publicação por e-mail, assim como qualquer necessidade de edição do seu anúncio.</p>
    <p class="text-center" style="color: gray; text-align: center;">O prazo para revisão é de 1 dia útil.</p>

    <h2 style="color: gray;">Detalhes do seu anúncio:</h2>
    <p style="color: gray;"><strong class="item-name" style="color: gray;">Anúncio:</strong> #<%= @advertisement.id %></p>
    <p style="color: gray;"><strong class="item-name" style="color: gray;">Total:</strong> <%=number_to_currency(@advertisement.price_in_cents / 100, unit: "R$", separator: ",", delimiter: ".") %></p>
    <p style="color: gray;"><strong class="item-name" style="color: gray;">Categoria de produto:</strong> <%= @advertisement.advertisable_display %></p>
    <p style="color: gray;"><strong class="item-name" style="color: gray;">Status:</strong> <%= @advertisement.status_display %></p>
    <h6 style="font-size: 12; font-weight: lighter; text-align: center; margin-bottom: 0; margin-top: 40px;">Dúvidas? Entre em contato através do email <strong>atendimento@nuflow.com.br</strong></h6>
    <hr class="footer-line" style="border: 0.1px solid #00c454; width: 30%; height: 0.2px;">
    <div class="footer" style="text-align: center;">

      <%= image_tag attachments["white_logo.png"].url, class: "footer-brand", style: "height: 6rem;"%>
      <div class="social-icons" style="text-align: center; gap: 10px;">
        <a href="https://www.youtube.com/channel/UCMvz9XhN0wl39RK4y7Q7cEw" class="footer-icon" style="width: 22px; height: 22px;"><%= image_tag attachments['youtube.png'].url, class: "social-icon", style:"width: 22px; height: 22px;" %></a>
        <a href="https://www.instagram.com/_nuflow_/"><%= image_tag attachments["instagram.png"].url, class: "social-icon", style:"width: 22px; height: 22px;" %></a>
      </div>
    </div>
  </div>
</body>
