<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    /* margin: 0 auto; */
    margin-top: 10px;
    border: 1px solid red;
    border-radius: 50px;
    box-shadow: 5px 8px 12px #e0e0e0;
    align-items: center;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding-bottom: 20px;
    background: #101010;
  }

  h6 {
    font-size: 12;
    font-weight: lighter;
    color: white;
    text-align: center;
    margin-bottom: 0;
    margin-top: 40px;
  }

  .orange {
    background-color: red;
    color: white !important;
    padding: 5px;
    text-align: center;
    border-radius: 10px 10px 0 0;
  }

  .mail-content {
    padding: 0 20px;
  }

  p {
    color: white;
  }

  .item-name, h2 {
    color: #00c454;
  }

  .detail-info {
    color: #00c454;
    font-size: 12px;
  }

  .btn-invoice {
    background-color: transparent;
    border-radius: 4px;
    color: #00c454;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 1px solid #00c454;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .btn-invoice:hover {
    box-shadow: 0px 0px 20px 0px #00c4545e;
  }

  .social-icon {
    width: 25px;
    height: 25px;
    filter: invert(46%) sepia(99%) saturate(1234%) hue-rotate(110deg) brightness(97%) contrast(102%);
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .social-icon:hover {
    filter: invert(46%) sepia(117%) saturate(1261%) hue-rotate(128deg) brightness(100%) contrast(102%);

  }

 .social-icon-face {
    width: 22px;
    height: 22px;
    filter: invert(46%) sepia(99%) saturate(1234%) hue-rotate(110deg) brightness(97%) contrast(102%);
  }

  .social-icon-face:hover {
    filter: invert(46%) sepia(117%) saturate(1261%) hue-rotate(128deg) brightness(100%) contrast(102%);
  }

  .footer {
    text-align: center;
  }

  .footer-icon {
    width: 22px;
    height: 22px;
  }

  .footer-brand {
    margin-top: 10px;
  }

  .footer-line {
    border: 0.1px solid #00c454;
    width: 30%;
    height: 0.2px;
  }

  .invoice-link {
    text-align: center;
    margin: 0 !important;
  }

  .review-result {
    display: flex;
    gap: 30px;
  }
  .info-review {
    color: red;
  }

  .text-center {
    text-align: center;
  }

</style>

<body>
  <div class="orange">
    <h3>Revisar anúncio!</h3>
  </div>
  <div class="mail-content">
    <% if @advertisement.user.full_name %>
    <h2 class="text-center">Olá <%= @advertisement.user.full_name %></h2>
    <% else %>
    <h2 class="text-center">Olá</h2>
    <% end %>
    <p class="text-center">Seu anúncio foi analisado pela nossa equipe e é necessário revisá-lo para se adequar às nossas diretrizes de segurança e/ou qualidade. Isso aumentará a qualidade do seu anúncio e as chances de vender o seu produto! </p>
    <p>Revise os campos abaixo:</p>
    <div class="review-result">
      <div class="rejected-attrs">
        <% @attrs_rejected.each do |attr_rejected | %>
          <p class="info-review"><%= attr_rejected %>:</p>
        <% end %>
      </div>
      <div class="user-infos">
        <% @values_to_review.each do |value | %>
          <p class="info-review"><%= value %></p>
        <% end %>
      </div>
    </div>


    <% if @comments %>
      <p>Considere esta nota da nossa equipe para te ajudar:: </p>
      <p><%= @comments %></p>
    <% end %>



    <% if @advertisement.advertisable_type == "Product" %>
      <div class="invoice-link">
        <a href="https://market.nuflow.com.br/products/<%= @advertisement.advertisable_id %>/edit" target="_blank" class="btn-invoice">Editar</a>
      </div>
    <% else %>
      <div class="invoice-link">
        <a href="https://market.nuflow.com.br/bikes/<%= @advertisement.advertisable_id %>/edit" target="_blank" class="btn-invoice">Editar</a>
      </div>
    <% end %>


    <h2>Detalhes do seu pedido:</h2>
    <p><strong class="item-name">Pedido:</strong> #<%= @advertisement.id %></p>
    <p><strong class="item-name">Total:</strong> <%=number_to_currency(@advertisement.price_in_cents / 100, unit: "R$", separator: ",", delimiter: ".") %></p>
    <p><strong class="item-name">Anunciado:</strong> <%= @advertisement.advertisable_display %></p>
    <p><strong class="item-name">Status:</strong> <%= @advertisement.status_display %></p>
    <p>Para saber mais você pode entrar em contato com nosso time através do e-mail <strong>contato@nuflowshop.com.br</strong></p>
    <hr class="footer-line">
    <div class="footer">

      <%= image_tag "white_logo.png", class: "footer-brand"%>
      <div class="social-icons">
        <a href="#" class="footer-icon"><%= image_tag "youtube.png", class: "social-icon" %></a>
        <a href="#"><%= image_tag "instagram.png", class: "social-icon" %></a>
        <a href="#"><%= image_tag "facebook.png", class: "social-icon-face" %></a>
      </div>
    </div>
  </div>
</body>
