<div class="page-padding px-5">
  <p class="info-text w-100 p-4 br-8 text-center text-uppercase fw-700 mb-5">Revisão do pedido #<%= @advertisement.id %></p>

  <form action="/admin/advertisements/<%= @advertisement.id %>/ajust_product_info" method="patch" id="advertisement-review-form" data-advertisement-id="<%= @advertisement.id %>">
    <div class="table m-0">
      <div class="table-row header blue">
        <h3 class="text-center text-success">
          Detalhes do anúncio
        </h3>
      </div>
    </div>

    <div class="table">
      <div class="table-row">
        <div class="d-flex">
          <h4 class="m-0 text-success">Status do anúncio:</h4>
          <p class="m-0 field-value"><%= @advertisement.status %></p>
        </div>
      </div>
      <div class="table-row">
        <div class="d-flex">
          <h4 class="m-0 text-success">Status do pagamento:</h4>
          <p class="m-0 field-value"><%= @advertisement.invoice_status %></p>
        </div>

      </div>
      <div class="table-row">
        <div class="d-flex">
          <h4 class="m-0 text-success">Data de criação:</h4>
          <p class="m-0 field-value"><%= @advertisement.created_at.strftime("%d/%m/%Y - %H:%M") %></p>
        </div>
      </div>
      <div class="table-row">
        <div class="d-flex">
          <h4 class="m-0 text-success">Usuário:</h4>
          <p class="m-0 field-value"><%= @user.full_name  ||  @user.email %></p>
        </div>

      </div>
      <div class="table-row">
        <div class="d-flex">
          <h4 class="m-0 text-success">O que foi anunciado:</h4>
          <p class="m-0 field-value"><%= @product_type %></p>
        </div>
      </div>
      <div class="table-row">
        <div class="d-flex">
          <h4 class="m-0 text-success">Valor do anúncio:</h4>
          <p class="m-0 field-value"><%= number_to_currency(@advertisement.price_in_cents.to_f/100, unit: "R$", separator: ",", delimiter: ".")  %></p>
        </div>
      </div>
    </div>

    <% if @advertisement.invoice_url.present? %>
      <%= link_to @advertisement.invoice_url, target: :_blank do %>
        <p class="m-0 btn btn-primary w-100 text-white my-3">Ver fatura</p>
      <% end %>
    <% else %>
      <p class="m-0 btn btn-primary disabled w-100 text-white mt-3">Fatura ainda não gerada</p>
    <% end %>

    <div class="spacer-30"></div>

    <div class="table m-0">
      <div class="table-row header blue">
        <div class="d-flex justify-content-between alig-middle">
          <h3 class="text-center text-success">
            Informações <%= @advertisement.advertisable_type %> anunciado
          </h3>
          <% if @product.photos.attached? %>
            <div class="review-images-admin w-50">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% @product.photos.each_with_index do |photo, i| %>
                    <div class="carousel-item <%= i.zero? ? "active" : ""  %>" >
                      <%= cl_image_tag photo.key, class: 'img-carousel'  %>
                      <div class="carousel-caption">
                      <p class='carousel-name'>produto#<%= @product.id%></p>
                      </div>
                    </div>
                    <% end %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          <% else %>
            <h5 class="text-center text-success">
              Nenhuma imagem adicionada ao anuncio
            </h5>
          <% end %>
        </div>
        <hr>
        <% if @advertisement.advertisable_type == "Product" %>
          <div class="table">
            <div class="d-flex ">
              <div class="w-50" data-column="category">
                <div class="d-flex">
                  <p class="text-success">Categoria:</p>
                  <p class="ms-3 field-value"><%= @product.category.name %></p>
                </div>
                <div class="d-flex">
                  <input name="category" type="text" class="text-input w-100">
                  <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
                </div>
              </div>
              <div class="w-50" data-column="modality">
                <div class="d-flex">
                  <p class="text-success">Modalidade:</p>
                  <p class="ms-3 field-value"><%= @product.modality %></p>
                </div>
                <div class="d-flex ">
                  <input name="modality" type="text" class="text-input w-100">
                  <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
                </div>
              </div>
            </div>
            <div class="d-flex ">
              <div class="w-50" data-column="brand">
                <div class="d-flex">
                  <p class="text-success">Marca:</p>
                  <p class="ms-3 field-value"><%= @product.brand %></p>
                </div>
                <div class="d-flex">
                  <input name="brand" type="text" class="text-input w-100">
                  <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
                </div>
              </div>
              <div class="w-50" data-column="model">
                <div class="d-flex">
                  <p class="text-success">Modelo:</p>
                  <p class="ms-3 field-value"><%= @product.model %></p>
                </div>
                <div class="d-flex ">
                  <input name="model" type="text" class="text-input w-100">
                  <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
                </div>
              </div>
            </div>
            <div class="d-flex ">
              <div class="w-50" data-column="quantity">
                <div class="d-flex">
                  <p class="text-success">Quantidade:</p>
                  <p class="ms-3 field-value"><%= @product.quantity %></p>
                </div>
                <div class="d-flex">
                  <input name="quantity" type="text" class="text-input w-100">
                  <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
                </div>
              </div>
              <div class="w-50" data-column="price_in_cents">
                <div class="d-flex">
                  <p class="text-success">Preço:</p>
                  <p class="ms-3 field-value"><%= number_to_currency(@product.price_in_cents.to_f/100, unit: "R$", separator: ",", delimiter: ".")  %></p>
                </div>
                <div class="d-flex ">
                  <input name="price_in_cents" type="text" class="text-input w-100">
                  <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
                </div>
              </div>
            </div>
            <div class="d-flex ">
              <div class="w-50" data-column="locality">
                <div class="d-flex">
                  <p class="text-success">Cidade:</p>
                  <p class="ms-3 field-value"><%= @product.locality %></p>
                </div>
                <div class="d-flex">
                  <input name="locality" type="text" class="text-input w-100">
                  <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
                </div>
              </div>
              <div class="w-50" data-column="yer">
                <div class="d-flex">
                  <p class="text-success">Ano:</p>
                  <p class="ms-3 field-value"><%= @product.year  %></p>
                </div>
                <div class="d-flex ">
                  <input name="year" type="text" class="text-input w-100">
                  <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
                </div>
              </div>
            </div>
              <div class="w-100" data-column="description">
              <div class="d-flex">
                <p class="text-success">Descrição:</p>
                <p class=" field-value"><%= @product.description  %></p>
              </div>
              <div class="d-flex ">
                <input name="description" type="text" class="text-input w-100">
                <p class="ms-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>

        <% elsif @advertisement.advertisable_type == "Bike" %>

          <div class="d-flex ">
            <div class="w-50" data-column="bike_type">
              <div class="d-flex">
                <p class="text-success">Tipo:</p>
                <p class="ms-3 field-value"><%= @product.bike_type %></p>
              </div>
              <div class="d-flex">
                <input name="bike_type" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="locality">
              <div class="d-flex">
                <p class="text-success">Cidade:</p>
                <p class="ms-3 field-value"><%= @product.locality  %></p>
              </div>
              <div class="d-flex ">
                <input name="locality" value="<%= @param_to_edit%>" type="text" class="text-input w-100">
                <button type="submit" class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</button>
              </div>
            </div>
          </div>

          <div class="d-flex ">
            <div class="w-50" data-column="year">
              <div class="d-flex">
                <p class="text-success">Ano:</p>
                <p class="ms-3 field-value"><%= @product.year %></p>
              </div>
              <div class="d-flex">
                <input name="year" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="weight">
              <div class="d-flex">
                <p class="text-success">Peso:</p>
                <p class="ms-3 field-value"><%= @product.weight %>Kg</p>
              </div>
              <div class="d-flex ">
                <input name="weight" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>
          <div class="d-flex ">
            <div class="w-50" data-column="category">
              <div class="d-flex">
                <p class="text-success">Categoria:</p>
                <p class="ms-3 field-value"><%= @product.category.name%></p>
              </div>
              <div class="d-flex">
                <input name="category" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="model">
              <div class="d-flex">
                <p class="text-success">Modelo:</p>
                <p class="ms-3 field-value"><%= @product.model  %></p>
              </div>
              <div class="d-flex ">
                <input name="model" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="w-50" data-column="price_in_cents">
              <div class="d-flex">
                <p class="text-success">Preço:</p>
                <p class="ms-3 field-value"><%= number_to_currency(@product.price_in_cents.to_f/100, unit: "R$", separator: ",", delimiter: ".") %></p>
              </div>
              <div class="d-flex">
                <input name="price_in_cents" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>

            <div class="w-50" data-column="quantity">
              <div class="d-flex">
                <p class="text-success">Quantidade:</p>
                <p class="ms-3 field-value"><%= @product.quantity%></p>
              </div>
              <div class="d-flex">
                <input name="quantity" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>
          <div class="w-100" data-column="description">
              <div class="d-flex">
                <p class="text-success">descrição:</p>
                <p class="ms-3 field-value"><%= @product.description %></p>
              </div>
              <div class="d-flex">
                <input name="description" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>


          <h4 class="text-center text-white my-3">Quadro</h4>
          <div class="d-flex">
            <div class="w-50" data-column="frame_brand">
              <div class="d-flex">
                <p class="text-success">Marca:</p>
                <p class="ms-3 field-value"><%= @product.frame_brand %></p>
              </div>
              <div class="d-flex">
                <input name="frame_brand" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="frame_size">
              <div class="d-flex">
                <p class="text-success">Tamanho:</p>
                <p class="ms-3 field-value"><%= @product.frame_size%></p>
              </div>
              <div class="d-flex">
                <input name="frame_size" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="frame_material">
              <div class="d-flex">
                <p class="text-success">Material:</p>
                <p class="ms-3 field-value"><%= @product.frame_material%></p>
              </div>
              <div class="d-flex">
                <input name="frame_material" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>


          <h4 class="text-center text-white my-3">Transmissão</h4>
          <div class="d-flex">
            <div class="w-50" data-column="crankset">
              <div class="d-flex">
                <p class="text-success">Pedivela:</p>
                <p class="ms-3 field-value"><%= @product.crankset %></p>
              </div>
              <div class="d-flex">
                <input name="crankset" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="chain ">
              <div class="d-flex">
                <p class="text-success">Corrente:</p>
                <p class="ms-3 field-value"><%= @product.chain %></p>
              </div>
              <div class="d-flex">
                <input name="chain " type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>
          <p class="text-center text-white my-1">Dianteira</p>
          <div class="d-flex">
            <div class="w-50" data-column="number_of_front_gears">
              <div class="d-flex">
                <p class="text-success">Nº Marchas:</p>
                <p class="ms-3 field-value"><%= @product.number_of_front_gears %></p>
              </div>
              <div class="d-flex">
                <input name="number_of_front_gears" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="front_derailleur_model ">
              <div class="d-flex">
                <p class="text-success">Modelo:</p>
                <p class="ms-3 field-value"><%= @product.front_derailleur_model %></p>
              </div>
              <div class="d-flex">
                <input name="front_derailleur_model " type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>
          <p class="text-center text-white my-1">Traseira</p>
          <div class="d-flex">
            <div class="w-50" data-column="number_of_rear_gears">
              <div class="d-flex">
                <p class="text-success">Nº Marchas:</p>
                <p class="ms-3 field-value"><%= @product.number_of_rear_gears %></p>
              </div>
              <div class="d-flex">
                <input name="number_of_rear_gears" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="rear_derailleur_model ">
              <div class="d-flex">
                <p class="text-success">Modelo:</p>
                <p class="ms-3 field-value"><%= @product.rear_derailleur_model %></p>
              </div>
              <div class="d-flex">
                <input name="rear_derailleur_model " type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>

          <h4 class="text-center text-white my-3">Suspensão</h4>
          <div class="d-flex">
            <div class="w-100" data-column="suspension_type">
              <div class="d-flex">
                <p class="text-success">Tipo:</p>
                <p class="ms-3 field-value"><%= @product.suspension_type %></p>
              </div>
              <div class="d-flex">
                <input name="suspension_type" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>
          <p class="text-center text-white my-1">Dianteira</p>
          <div class="d-flex">
            <div class="w-50" data-column="front_suspension_travel">
              <div class="d-flex">
                <p class="text-success">Curso:</p>
                <p class="ms-3 field-value"><%= @product.front_suspension_travel %></p>
              </div>
              <div class="d-flex">
                <input name="front_suspension_travel" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="front_suspension_model">
              <div class="d-flex">
                <p class="text-success">Modelo:</p>
                <p class="ms-3 field-value"><%= @product.front_suspension_model %></p>
              </div>
              <div class="d-flex">
                <input name="front_suspension_model" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>
          <p class="text-center text-white my-1">Traseira</p>
          <div class="d-flex">
            <div class="w-50" data-column="rear_suspension_travel">
              <div class="d-flex">
                <p class="text-success">Curso:</p>
                <p class="ms-3 field-value"><%= @product.rear_suspension_travel %></p>
              </div>
              <div class="d-flex">
                <input name="rear_suspension_travel" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="rear_suspension_model">
              <div class="d-flex">
                <p class="text-success">Modelo:</p>
                <p class="ms-3 field-value"><%= @product.rear_suspension_model %></p>
              </div>
              <div class="d-flex">
                <input name="rear_suspension_model" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>


          <h4 class="text-center text-white my-3">Rodas</h4>
          <div class="d-flex">
            <div class="w-100" data-column="rim_size">
              <div class="d-flex">
                <p class="text-success">Tipo:</p>
                <p class="ms-3 field-value"><%= @product.rim_size %></p>
              </div>
              <div class="d-flex">
                <input name="rim_size" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>
          <p class="text-center text-white my-1">Dianteira</p>
          <div class="d-flex">
            <div class="w-50" data-column="front_rim_model">
              <div class="d-flex">
                <p class="text-success">Aro:</p>
                <p class="ms-3 field-value"><%= @product.front_rim_model %></p>
              </div>
              <div class="d-flex">
                <input name="front_rim_model" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="front_hub">
              <div class="d-flex">
                <p class="text-success">Cubo:</p>
                <p class="ms-3 field-value"><%= @product.front_hub %></p>
              </div>
              <div class="d-flex">
                <input name="front_hub" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="front_tyre">
              <div class="d-flex">
                <p class="text-success">Pneu:</p>
                <p class="ms-3 field-value"><%= @product.front_tyre %></p>
              </div>
              <div class="d-flex">
                <input name="front_tyre" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>
          <p class="text-center text-white my-1">Traseira</p>
          <div class="d-flex">
            <div class="w-50" data-column="rear_rim_model">
              <div class="d-flex">
                <p class="text-success">Aro:</p>
                <p class="ms-3 field-value"><%= @product.rear_rim_model %></p>
              </div>
              <div class="d-flex">
                <input name="rear_rim_model" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="rear_hub">
              <div class="d-flex">
                <p class="text-success">Cubo:</p>
                <p class="ms-3 field-value"><%= @product.rear_hub %></p>
              </div>
              <div class="d-flex">
                <input name="rear_hub" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="rear_tyre">
              <div class="d-flex">
                <p class="text-success">Pneu:</p>
                <p class="ms-3 field-value"><%= @product.rear_tyre %></p>
              </div>
              <div class="d-flex">
                <input name="rear_tyre" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>



          <h4 class="text-center text-white my-3">Canote</h4>
          <div class="d-flex">
            <div class="w-50" data-column="seat_post_type">
              <div class="d-flex">
                <p class="text-success">Tipo:</p>
                <p class="ms-3 field-value"><%= @product.seat_post_type %></p>
              </div>
              <div class="d-flex">
                <input name="seat_post_type" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="seat_post_travel">
              <div class="d-flex">
                <p class="text-success">Curso:</p>
                <p class="ms-3 field-value"><%= @product.seat_post_travel %></p>
              </div>
              <div class="d-flex">
                <input name="seat_post_travel" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="seat_post_model">
              <div class="d-flex">
                <p class="text-success">Modelo:</p>
                <p class="ms-3 field-value"><%= @product.seat_post_model %></p>
              </div>
              <div class="d-flex">
                <input name="seat_post_model" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>

          <h4 class="text-center text-white my-3">Cockpit</h4>
          <div class="d-flex">
            <div class="w-50" data-column="stem">
              <div class="d-flex">
                <p class="text-success">Mesa:</p>
                <p class="ms-3 field-value"><%= @product.stem %></p>
              </div>
              <div class="d-flex">
                <input name="stem" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="handlebar ">
              <div class="d-flex">
                <p class="text-success">Guidão:</p>
                <p class="ms-3 field-value"><%= @product.handlebar %></p>
              </div>
              <div class="d-flex">
                <input name="handlebar " type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>

          <h4 class="text-center text-white my-3">Acessórios</h4>
          <div class="d-flex">
            <div class="w-50" data-column="accessories">
              <div class="d-flex">
                <p class="text-success">Acompanha:</p>
                <p class="ms-3 field-value"><%= @product.accessories %></p>
              </div>
              <div class="d-flex">
                <input name="accessories" type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
            <div class="w-50" data-column="accessories_description ">
              <div class="d-flex">
                <p class="text-success">Descrição:</p>
                <p class="ms-3 field-value"><%= @product.accessories_description %></p>
              </div>
              <div class="d-flex">
                <input name="accessories_description " type="text" class="text-input w-100">
                <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
              </div>
            </div>
          </div>

          <% if @product.bike_type == "e-bike" %>
            <h4 class="text-center text-white my-3">Elétrica</h4>
            <div class="d-flex">
              <div class="w-50" data-column="battery">
                <div class="d-flex">
                  <p class="text-success">Bateria:</p>
                  <p class="ms-3 field-value"><%= @product.battery %></p>
                </div>
                <div class="d-flex">
                  <input name="battery" type="text" class="text-input w-100">
                  <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
                </div>
              </div>
              <div class="w-50" data-column="battery_cycles ">
                <div class="d-flex">
                  <p class="text-success">Ciclos:</p>
                  <p class="ms-3 field-value"><%= @product.battery_cycles %></p>
                </div>
                <div class="d-flex">
                  <input name="battery_cycles " type="text" class="text-input w-100">
                  <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
                </div>
              </div>
            </div>

            <div class="d-flex">
              <div class="w-50" data-column="mileage">
                <div class="d-flex">
                  <p class="text-success">Km:</p>
                  <p class="ms-3 field-value"><%= @product.mileage %></p>
                </div>
                <div class="d-flex">
                  <input name="mileage" type="text" class="text-input w-100">
                  <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
                </div>
              </div>
              <div class="w-50" data-column="motor ">
                <div class="d-flex">
                  <p class="text-success">Motor:</p>
                  <p class="ms-3 field-value"><%= @product.motor %></p>
                </div>
                <div class="d-flex">
                  <input name="motor " type="text" class="text-input w-100">
                  <p class="ms-3 mt-1 d-flex text-success"><i class="fas fa-pen-square mt-1 me-2"></i>Editar</p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="mb-4">
      <% if @advertisement.waiting_review?  %>
        <div class="action-buttons flex center between mt-5">
          <div class="w-100">
            <%= link_to admin_advertisement_approve_path(@advertisement.id), method: :patch, data: { confirm: "Tem certeza que quer aprovar o pedido?" } do %>
              <p class="m-0 btn btn-success w-100 text-white">Aprovar pedido</p>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= link_to admin_advertisement_reject_path(@advertisement.id), method: :patch, data: { confirm: "Tem certeza que quer bloquear o pedido para sempre?" } do %>
        <p class="m-0 mt-3 btn btn-danger w-100 text-white">Bloquear pedido</p>
      <% end %>
    </div>
  </form>
</div>
