<% if @single_chat && @single_chat.participant?(@single_chat, user) %>
  <% isActive = 'active' %>
<% else %>
  <% isActive = '' %>
<% end %>
<div class="user">
  <li id="list_item" class="list-group-item user_list_item <%= isActive %>">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <div class="icon-container ms-3 mt-3">
          <%= link_to user, class: 'd-flex align-items-center user-link-chat', data: {turbo: "false"} do %>
            <%= cl_image_tag user.photo.key, class: 'chat_pfp me-4' %>
            <% if user.full_name.present? %>
              <%= user.full_name %>
            <% else %>
              <%= user.email %>
            <% end %>
          <% end %>
          <%= turbo_stream_from "user_status" %>
          <div>
            <%= render "users/status", user: user %>
          </div>
        </div>
        <%= render 'users/notifications', chat: chat %>
      </div>
    </div>

    <%= turbo_frame_tag [dom_id(chat), "user_last_message"] do %>
      <%= render "users/last_message",
        last_message: last_message,
        sender: sender %>
    <% end %>
  </li>
</div>
