<div id="navbar" class="navbar navbar-expand-md navbar-light-lg">
  <div class="collapse navbar-collapse d-flex justify-content-center page-desktop">
    <div class="flex center around ms-3">
      <%= link_to root_path, class: "nav-link-drop" do %>
        <%= image_tag "white_logo.png", class: "navbar-brand" %>
      <% end %>
    </div>
    <div class="f-40  w-100">
      <ul class="navbar-nav font-bebas-neue d-flex flex-row align-items-center justify-content-between gap-10">
        <div id="navbar-links" class="nav-links d-flex">
          <li class="nav-item active">
            <%= link_to "Anúncios", admin_advertisements_path, class: "nav-link  drop-btn mx-3" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Cupons", admin_coupons_path, class: "nav-link mx-3" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Usuários", admin_users_path, class: "nav-link mx-3" %>
          </li>
        </div>
        <% if user_signed_in? %>
          <li class="nav-item">
            <div class="dropdown">
              <% if current_user.photo.attached? %>
                <button class="btn" type="button" class="dropbtn">
                  <%= cl_image_tag current_user.photo.key, class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
                </button>
              <% else %>
                <button class="btn" type="button" class="dropbtn">
                  <%= image_tag "avatar-bike.png", class: "avatar-bike"%>
                </button>
              <% end %>
            </div>
          </li>
          <li class="my-auto">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link-logout ms-3" do %>
              SAIR
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login/Criar conta", new_user_session_path, class: "text-success nav-link text-decoration-underline nav-login" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if mobile_device? %>
    <div class="flex center between w-100 px-5">
      <%= link_to root_path, class: "nav-link" do %>
        <%= image_tag "white_logo.png", class: "navbar-brand" %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="text-success fas fa-bars"></i>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="flex center around mobile-menu">
        <ul class="navbar-nav font-bebas-neue text-center d-flex flex-column">
          <li class="nav-item active">
            <%= link_to "Anúncios", admin_advertisements_path, class: "nav-link  drop-btn mx-3" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Usuários", admin_users_path, class: "nav-link mx-3" %>
          </li>
          <li class="nav-item active">
            <%= link_to "CUPONS", admin_coupons_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: "text-success nav-link text-decoration-underline" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "LOGIN", new_user_session_path, class: "text-success nav-link text-decoration-underline" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
