<footer class="" id="footer">
  <div class="container border-top border-secondary">
    <div class="d-flex justify-content-around align-items-center">
      <div class="page-desktop">
        <h4 class="mt-5">Páginas</h4>
        <ul class="list-unstyled">
          <li><i class="fas fa-angle-right"></i><%= link_to "Vender", new_announce_path, class: "link-white ms-1 mb-5" %></li>
          <li><i class="fas fa-angle-right"></i><%= link_to "Bikes", bikes_path, class: "link-white ms-1 mb-5" %></li>
          <li><i class="fas fa-angle-right"></i><%= link_to "Produtos", products_path, class: "link-white ms-1 mb-5" %></li>
          <li><i class="fas fa-angle-right"></i><%= link_to "Login", new_user_session_path, class: "link-white ms-1 mb-5" %></li>
      </div>
      <div class="d-flex flex-md-column justify-content-between align-items-center w100 px-4 py-3">
        <div class="text-center me-5">
          <%= link_to user_signed_in? ? root_path : root_path do %>
            <%= image_tag "white_logo.png", class: "footer-brand" %>
          <% end %>
        </div>
        <div class="d-flex justify-content-center gap-16 fs-24 me-5">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="page-desktop">
        <i class="fa-solid fa-pipe"></i><h4 class="mt-5">Ajuda</h4>
        <ul class="list-unstyled">
          <li><i class="fas fa-angle-right"></i><%= link_to "Atendimento", "https://wa.me/553196225074", class: "link-white ms-1", target: "_blank" %></li>
          <li><i class="fas fa-angle-right"></i><a href="/new_announce#frequent-questions" class="link-white ms-1">FAQ</a></li>
          <li><i class="fas fa-angle-right"></i><%= link_to "Termos e condições de uso", terms_and_conditions_path, class: "link-white ms-1" %></li>
          <li><i class="fas fa-angle-right"></i><%= link_to "Politica de privacidade", privacy_policy_path, class: "link-white ms-1 mb-5" %></li>
        </ul>
      </div>
    </div>
    <p class="landing-title f-rajdhani fs-16 my-2 text-center mt-5 footer-text">TODOS OS DIREITOS RESERVADOS NUFLOW 2022 - CNPJ: 38.559.372/0001-25 - Desenvolvido por <a href="https://novamente.cc/" class="refer-links" target="_blank">Novamente</a></p>
    <p class="page-mobile pb-5 text-center">Desenvolvido por <a href="https://novamente.cc/" class="refer-links" target="_blank">Novamente</a></p>
  </div>
</footer>
