<div id="navbar" class="navbar navbar-expand-md navbar-light-lg">
  <div class="collapse navbar-collapse d-flex justify-content-around page-desktop">
    <div class="flex center around ms-3 my-auto">
      <%= link_to root_path, class: "nav-link-drop" do %>
        <%= image_tag "white_logo.png", class: "navbar-brand" %>
      <% end %>
    </div>
    <div class="f-40  w-100">
      <ul class="navbar-nav font-bebas-neue d-flex flex-row align-items-center justify-content-between gap-10">
        <li id="navbar-form" class="nav-item active form-inline d-none w-100">
          <div data-controller="search" class="input-group input-group-navbar">
            <%= form_with url: search_path, local: true, method: :get, html: {class: "input-group input-group-navbar" , data: { search_target: 'form' } } do |form| %>
              <%= form.text_field :query,
                 class: "form-control nav-form",
                 placeholder: 'Pesquisar',
                 value: params[:query],
                 data: {
                  search_target: 'searchInput',
                  action: "keyup->search#update"
                } %>
              <%= form.button class: "btn search-btn" do %>
                <i class="fas fa-search form-icon"></i>
              <% end %>
            <% end %>
            <div data-search-target="list">
            </div>
          </div>
        </li>
        <div id="navbar-links" class=" d-flex">
          <li class="nav-item active nav-link-drop ">
            <div class="dropdown">
              <h3 class="drop-btn mx-3 my-auto">categorias</h3>
              <div class="dropdown-content">
                <div class="drpdw-bike  mx-auto">
                  <h4 class="text-success mt-3">BIKES</h4>
                  <% unless current_page?(new_user_session_path) || current_page?(new_user_password_path) || current_controller?('users/registrations') || current_controller?('users/sessions')%>
                    <%= link_to "MTB",  {:controller => "bikes", :action => "index", :categories => "mountain_bike"}, class: "text-white" %>
                    <%= link_to "ROAD",  {:controller => "bikes", :action => "index", :categories => "road"}, class: "text-white" %>
                    <%= link_to "E-bike", {:controller => "bikes", :action => "index", :bike_type => "e-bike"}, class: "text-white" %>
                    <%= link_to "DIRT", {:controller => "bikes", :action => "index", :categories => "dirt_street"}, class: "text-white" %>
                    <%= link_to "Ver mais", bikes_path, class: "text-white pb-3" %>
                  <% end %>
                </div>
                <div class="drpdw-components  mx-auto">
                  <h4 class=" text-success mt-3">COMPONENTES</h4>
                  <% unless current_page?(new_user_session_path) || current_page?(new_user_password_path)  || current_controller?('users/registrations') || current_controller?('users/sessions')%>
                    <%= link_to "Quadro", {:controller => "products", :action => "index", :product_types => "Quadro"}, class: "text-white" %>
                    <%= link_to "Freios", {:controller => "products", :action => "index", :product_types => "Freio"}, class: "text-white" %>
                    <%= link_to "Câmbio Traseiro", {:controller => "products", :action => "index", :product_types => "Câmbio Traseiro"}, class: "text-white" %>
                    <%= link_to "Suspensão dianteira", {:controller => "products", :action => "index", :product_types => "Suspensão Dianteira"}, class: "text-white" %>
                    <%= link_to "Ver mais", {:controller => "products", :action => "index", :products_components => "products_components"}, class: "text-white pb-3" %>
                  <% end %>
                </div>
                <div class="drpdw-components  mx-auto">
                  <h4 class=" text-success mt-3">ACESSÓRIOS</h4>
                  <% unless current_page?(new_user_session_path) || current_page?(new_user_password_path)  || current_controller?('users/registrations') || current_controller?('users/sessions')%>
                    <%= link_to "Eletrônicos", {:controller => "products", :action => "index", :product_types => "Eletrônicos"}, class: "text-white" %>
                    <%= link_to "Ferramentas", {:controller => "products", :action => "index", :product_types => "Ferramentas"}, class: "text-white" %>
                    <%= link_to "Rolo de treino", {:controller => "products", :action => "index", :product_types => "Rolo de treino"}, class: "text-white" %>
                    <%= link_to "Suporte para carro", {:controller => "products", :action => "index", :product_types => "Suporte para carro"}, class: "text-white" %>
                    <%= link_to "Ver mais", {:controller => "products", :action => "index", :products_accessories => "products_accessories"}, class: "text-white pb-3" %>
                  <% end%>
                </div>
                <div class="drpdw-components  mx-auto">
                  <h4 class=" text-success mt-3">VESTUÁRIO</h4>
                  <% unless current_page?(new_user_session_path) || current_page?(new_user_password_path)  || current_controller?('users/registrations') || current_controller?('users/sessions')%>
                    <%= link_to "Capacete", {:controller => "products", :action => "index", :product_types => "Capacete"}, class: "text-white" %>
                    <%= link_to "Sapatilha", {:controller => "products", :action => "index", :product_types => "Sapatilha"}, class: "text-white" %>
                    <%= link_to "Bermuda", {:controller => "products", :action => "index", :product_types => "Bermuda"}, class: "text-white" %>
                    <%= link_to "Camisa", {:controller => "products", :action => "index", :product_types => "Camisa"}, class: "text-white" %>
                    <%= link_to "Ver mais", {:controller => "products", :action => "index", :products_clothes => "products_clothes"}, class: "text-white pb-3" %>
                  <% end%>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item active my-auto">
            <%= link_to "DICAS", "https://nuflowshop.com.br/blog/", class: "nav-link mx-3" %>
          </li>
          <li class="nav-item active my-auto">
            <%= link_to "EVENTOS", "https://nuflowpass.com.br", class: "nav-link mx-3" %>
          </li>
        </div>
        <li class="nav-item active mt-2">
          <button id="search-btn" class="nav-link-drop ms-3">
            <i class="fas fa-search" id="search-icon"></i>
          </button>
        </li>
        <li class="nav-item mt-2">
          <button id="close-btn" class="nav-link-drop d-none mb-2 ms-3">
            <i class="fas fa-times" id="close-icon"></i>
          </button>
        </li>
      </ul>
    </div>

    <div class="f-40 px-2 mt-2">
      <ul class="navbar-nav font-bebas-neue d-flex flex-row d-flex justify-content-start gap-24 align-middle m-auto">
        <li class="nav-item active ms-5 me-1 my-auto">
          <%= link_to "VENDER", new_announce_path, class: "btn-home-smooth" %>
        </li>
        <% if current_user.present? %>
          <li class="nav-item active my-auto">
            <%= link_to User.find(4), class: "nav-link-icon", title: 'Converse com o suporte'  do %>
              <i class="fas fa-comment-alt mt-2"> <span  class="cart-counter"></span></i>
            <% end %>
          </li>
          <li class="nav-item active my-auto">
            <%= link_to likes_path, class: "nav-link-icon", title: 'Favoritos' do %>
              <i class="fa fa-heart mt-2"></i>
            <% end %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li class="nav-item my-auto">
            <div class="dropdown">
              <% if current_user.photo.attached? %>
                <%= link_to edit_profiles_path class: "dropbtn" do %>
                  <%= cl_image_tag current_user.photo.key, class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>
              <% else %>
                <button class="btn" type="button" class="dropbtn">
                  <%= image_tag "avatar-bike.png", class: "avatar-bike"%>
                </button>
              <% end %>
            </div>
          </li>
          <li class="my-auto">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link-logout" do %>
              SAIR <i class="fas fa-sign-out-alt ms-1"></i>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item mt-2">
            <%= link_to "Login", new_user_session_path, class: "nav-link ms-5" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <% if mobile_device? %>
    <div class="flex center between w-100">
      <%= link_to root_path, class: "nav-link-drop", id: "mobile-home-link" do %>
        <%= image_tag "white_logo.png", class: "navbar-brand" %>
      <% end %>
      <div id="navbar-form-mobile" data-controller="search" class="input-group input-group-navbar mt-3 px-1 d-none">
        <%= form_with url: search_path, local: true, method: :get, html: {class: "input-group input-group-navbar mobile-search" , data: { search_target: 'form' } } do |form| %>
          <%= form.text_field :query,
              class: "form-control nav-form",
              placeholder: 'Pesquisar',
              value: params[:query],
              input_html: {id: "navbar-input"},
              data: {
              search_target: 'searchInput',
              action: "keyup->search#update"
            } %>
          <%= form.button class: "btn search-btn" do %>
            <i class="fas fa-search form-icon"></i>
          <% end %>
        <% end %>
        <div data-search-target="list">
        </div>
      </div>
      <div class="icons d-flex gap-3">
        <button id="search-btn-mobile" class="nav-link-drop mt-3">
          <i class="fas fa-search" id="search-icon"></i>
        </button>
        <button id="close-btn-mobile" class="nav-link-drop mt-3 d-none">
          <i class="fas fa-times text-success" id="close-icon"></i>
        </button>
        <div id="navbar-links-mobile" class="mt-3">
          <% if user_signed_in? %>
            <% unless current_page?(new_user_session_path) || current_page?(new_user_password_path)  || current_controller?('users/registrations') || current_controller?('users/sessions')%>
              <%= link_to likes_path, class: "nav-link-drop me-3 " do %>
                <i class="fas fa-heart like-mobile-nav <%= current_page?(controller: 'likes', action: 'index')? "text-success" : ""%>"></i>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to "Entrar", new_user_session_path, class: "nav-link" %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to edit_profiles_path, class: "nav-link-drop" do %>
              <%= cl_image_tag current_user.photo.key, crop: :fit, class: "avatar-profile-mobile-navbar" %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>


    <div id="bottom-navbar" class="bottom-navbar">
      <% unless current_page?(new_user_session_path) || current_page?(new_user_password_path)  || current_controller?('users/registrations') || current_controller?('users/sessions')%>
        <%= link_to bikes_path, class: "block-item #{current_page?(controller: 'bikes', action: 'index')? "selected-path" : ""}" do %>
          <i class="fas fa-bicycle nav-bottom-icon"></i><br> <span class="nav-bottom-link">Bikes</span>
        <% end %>
        <%= link_to products_path, class: "block-item #{current_page?(controller: 'products', action: 'index')? "selected-path" : ""}" do %>
          <i class="fab fa-product-hunt nav-bottom-icon"></i><br><span class="nav-bottom-link">Produtos</span>
        <% end %>
        <%= link_to new_announce_path, class: "block-item #{(current_page?(controller: 'bikes', action: 'new') || current_page?(controller: 'products', action: 'new') || current_page?(controller: 'pages', action: 'new_announce'))? "selected-path" : ""}" do %>
          <i class="far fa-edit nav-bottom-icon"></i> <br><span class="nav-bottom-link">Anunciar</span>
        <% end %>
        <%= link_to chats_path, class: "block-item #{(current_page?(controller: 'chats', action: 'index') || current_page?(controller: 'users', action: 'show'))? "selected-path" : ""}" do %>
          <i class="far fa-comment-alt  nav-bottom-icon"></i> <br><span class="nav-bottom-link">Chat</span>
          <% if Notification.where(recipient_id: current_user).where(read_at: nil).count > 0 %>
            <span class="badge badge-danger mobile-notification">+ <%= Notification.where(recipient_id: current_user).where(read_at: nil).count %></span>
          <% end %>
        <% end %>
      <% end %>
      <button id="plus-btn-bottom-navbar" type="button" class="navbar-toggler dropdown-toggle" >
        <i class="fas fa-ellipsis-h nav-bottom-icon mb-2"></i><br> <span class="nav-bottom-link">Mais</span>
      </button>
      <div id="bottom-navbar-menu" class="dropup d-none">
        <div class="d-flex justify-content-between mt-3">
          <% if user_signed_in? %>
            <%= link_to  edit_profiles_path, class: "dropup-link d-block text-center" do %>
              <i class="fas fa-user-circle nav-bottom-icon"></i><br><span class="nav-bottom-link">Perfil</span>
            <% end %>
            <%= link_to  advertisements_path, class: "dropup-link d-block text-center" do %>
              <i class="fas fa-shopping-bag nav-bottom-icon"></i><br><span class="nav-bottom-link">Meus Anúncios</span>
            <% end %>
            <%= link_to  likes_path, class: "dropup-link d-block text-center", target: "_blank" do %>
              <i class="fas fa-heart nav-bottom-icon"></i><br><span class="nav-bottom-link">Favoritos</span>
            <% end %>
          <% end %>
        </div>


        <div class="d-flex justify-content-between my-3">
          <%= link_to  "https://wa.me/553196225074", class: "dropup-link d-block text-center", target: "_blank" do %>
            <i class="fas fa-question-circle nav-bottom-icon"></i><br><span class="nav-bottom-link">Dúvidas</span>
          <% end %>
          <%= link_to "https://nuflowpass.com.br/", class: "dropup-link d-block text-center", target: :_blank do %>
            <i class="fas fa-calendar-alt nav-bottom-icon"></i><br><span class="nav-bottom-link">Eventos</span>
          <% end %>
          <%= link_to "https://nuflowshop.com.br/blog/", class: "dropup-link d-block text-center", target: :_blank do %>
            <i class="fas fa-blog nav-bottom-icon"></i><br><span class="nav-bottom-link">Dicas</span>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete, class: "text-danger dropup-link d-block text-center" do %>
            <i class="fas fa-sign-out-alt nav-bottom-ico"></i> <span class="nav-bottom-link">Sair</span>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: "text-success dropup-link d-block text-center" do %>
            <i class="fas fa-sign-in-alt nav-bottom-ico"></i> <span class="nav-bottom-link">Entrar</span>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
