<div id="navbar" class="navbar navbar-expand-md navbar-light-lg">
  <div class="collapse navbar-collapse d-flex justify-content-around page-desktop">
    <div class="flex center around ms-3">
      <%= link_to root_path, class: "nav-link" do %>
        <%= image_tag "white_logo.png", class: "navbar-brand" %>
      <% end %>
    </div>
    <div class="f-40  w-100">
      <ul class="navbar-nav font-bebas-neue d-flex flex-row align-items-center justify-content-between gap-10">
        <li id="navbar-form" class="nav-item active form-inline d-none w-100">
          <div data-controller="search" class="input-group input-group-navbar">
            <%= form_with url: search_path, local: true, method: :get, html: {class: "input-group input-group-navbar" , data: { search_target: 'form' } } do |form| %>
              <%= form.text_field :query,
                 class: "form-control nav-form",
                 placeholder: 'Pesquisar',
                 value: params[:query],
                 data: {
                  search_target: 'searchInput',
                  action: "keyup->search#update"
                } %>
              <%= form.button class: "btn search-btn" do %>
                <i class="fas fa-search form-icon"></i>
              <% end %>
            <% end %>
            <div data-search-target="list">
            </div>
          </div>
        </li>
        <div id="navbar-links" class="nav-links d-flex">
          <li class="nav-item active">
            <div class="dropdown">
              <%= link_to "CATEGORIAS", "#", class: "nav-link  drop-btn mx-3" %>
              <div class="dropdown-content">
                <div class="drpdw-bike text-center mx-auto">
                  <h4 class="text-center text-success mt-3">BIKES</h4>
                  <%= link_to "MTB",  {:controller => "bikes", :action => "index", :category => "mountain_bike"}, class: "text-white" %>
                  <%= link_to "ROAD",  {:controller => "bikes", :action => "index", :category => "road"}, class: "text-white" %>
                  <%= link_to "DIRT", {:controller => "bikes", :action => "index", :category => "dirt_street"}, class: "text-white" %>
                  <%= link_to "E-bike", {:controller => "bikes", :action => "index", :bike_type => "dirt_street"}, class: "text-white" %>
                  <%= link_to "Ver mais", bikes_path, class: "text-white pb-3" %>
                </div>
                <div class="drpdw-components text-center mx-auto">
                  <h4 class="text-center text-success mt-3">COMPONENTES</h4>
                  <%= link_to "Freios", {:controller => "products", :action => "index", :product_type_id => 2}, class: "text-white" %>
                  <%= link_to "Quadro", {:controller => "products", :action => "index", :product_type_id => 9}, class: "text-white" %>
                  <%= link_to "Pedivela", {:controller => "products", :action => "index", :product_type_id => 7}, class: "text-white" %>
                  <%= link_to "Rodas", {:controller => "products", :action => "index", :product_type_id => 19}, class: "text-white" %>
                  <%= link_to "Ver mais", products_path, class: "text-white pb-3" %>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item active">
            <%= link_to "INSTITUCIONAL", "#", class: "nav-link mx-3" %>
          </li>
          <li class="nav-item active">
            <%= link_to "DICAS", "https://nuflowshop.com.br/blog/", class: "nav-link mx-3" %>
          </li>
          <li class="nav-item active">
            <%= link_to "EVENTOS", "https://nuflowpass.com.br", class: "nav-link mx-3" %>
          </li>
        </div>
        <li class="nav-item active mt-2">
          <button id="search-btn" class="nav-link ms-3">
            <i class="fas fa-search" id="search-icon"></i>
          </button>
        </li>
        <li class="nav-item mt-3">
          <button id="close-btn" class="nav-link d-none mb-2 ms-3">
            <i class="fas fa-times" id="close-icon"></i>
          </button>
        </li>
      </ul>
    </div>

    <div class="f-40 px-2 mt-2">
      <ul class="navbar-nav font-bebas-neue d-flex flex-row d-flex justify-content-start gap-24">
        <li class="nav-item active ms-5 me-1">
          <%= link_to "VENDER", new_announce_path, class: "btn btn-primary" %>
        </li>
        <% if current_user.present? %>
          <li class="nav-item active mt-1" style="color: white;">
            <%= link_to user_path(User.find(4)) do %>
              <i class="fas fa-comment-alt text-success mt-2"> <span  class="cart-counter"></span></i>
            <% end %>
          </li>
        <% end %>
        <li class="nav-item active mt-1" style="color: white;">
          <%= link_to likes_path do %>
            <i class="fa fa-heart text-success mt-2"></i>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <% if current_user.photo.attached? %>
              <button class="btn" type="button" class="dropbtn">
                <%= cl_image_tag current_user.photo.key, class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
              </button>
            <% else %>
              <button class="btn" type="button" class="dropbtn">
                <%= image_tag "avatar-bike.png", class: "avatar-bike"%>
              </button>
            <% end %>
            <div class="dropdown-content dropdown-content-user">
              <div class="drpdw-bike">
                <h4 class="text-center text-success mt-3 ms-3">CONTAS</h4>
                <%= link_to "Nuflow pass", "#", class: "text-white ms-2" %>
                <%= link_to "Nuflow bike", "#", class: "text-white ms-2" %>
                <%= link_to "Conta", edit_profiles_path, class: "text-white ms-2" %>
                <hr>
                <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: "text-success nav-link ms-2 mt-1" %>
              </div>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login/Criar conta", new_user_session_path, class: "text-success nav-link text-decoration-underline nav-login" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if mobile_device? %>
    <div class="flex center between w-100 px-5">
      <%= link_to root_path, class: "nav-link" do %>
        <%= image_tag "white_logo.png", class: "navbar-brand" %>
      <% end %>

      <% if current_user.present? %>
        <%= link_to user_path(User.find(4)) do %>
          <i class="fas fa-comment-alt text-success mt-2"> <span  class="cart-counter"></span></i>
        <% end %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="text-success fas fa-bars"></i>
      </button>
    </div>

    <div data-controller="search" class="input-group input-group-navbar px-1">
      <%= form_with url: search_path, local: true, method: :get, html: {class: "input-group input-group-navbar mobile-search" , data: { search_target: 'form' } } do |form| %>
        <%= form.text_field :query,
            class: "form-control nav-form",
            placeholder: 'Pesquisar',
            value: params[:query],
            data: {
            search_target: 'searchInput',
            action: "keyup->search#update"
          } %>
        <%= form.button class: "btn search-btn" do %>
          <i class="fas fa-search form-icon"></i>
        <% end %>
      <% end %>
      <div data-search-target="list">
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="flex center around mobile-menu">
        <ul class="navbar-nav font-bebas-neue text-center d-flex flex-column">
          <li class="nav-item active">
            <%= link_to "BIKES", bikes_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "PRODUTOS", products_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "VENDER", new_announce_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "PERFIL", edit_profiles_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "INSTITUCIONAL", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "EVENTOS", "https://nuflowpass.com.br/", class: "nav-link", target: :_blank %>
          </li>
          <li class="nav-item">
            <%= link_to "DICAS", "https://nuflowshop.com.br/blog/", class: "nav-link", target: :_blank %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: "text-success nav-link text-decoration-underline" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "LOGIN", new_user_session_path, class: "text-success nav-link text-decoration-underline" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
