<div class="container advertisements mb-5">
  <h1 class="my-3 text-center text-success">Anuncios</h1>
  <div class="d-flex flex-wrap justify-content-between cards-grid">
    <% @advertisements.each do | advertisement | %>
      <div class="cards-index-advertisements  gap-2">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <h6 class="fs-20 text-gray">Anúncio #<%= advertisement.id %></h6>
              <p class="mb-0"><span class="text-white">Total:</span> <%=number_to_currency(advertisement.final_price_with_coupon_in_cents / 100, unit: "R$", separator: ",", delimiter: ".")%> </p>
              <p class="mb-0"><span class="text-white">Criado em</span> <%= advertisement.created_at.strftime("%d/%m/%Y")  %></p>
              <p class="mb-0"><span class="text-white">Status:</span> <%= advertisement.status_display %> </p>
            </div>

            <% if advertisement.invoice_paid_at.blank?  && (advertisement.final_price_with_coupon_in_cents > 0)%>
              <div>
                <%= link_to "Pagar", advertisement_invoice_path(advertisement), class: "btn-invoice advertisement-invoice-btn", id: "advertisement-pay-btn"  %>
              </div>
            <% end %>
          </div>
            <div class="<%= mobile_device? ? "d-block" : "d-flex justify-content-between" %> mt-2">
              <% if advertisement.invoice_paid_at.present?  %>
                <p class="mb-0"><span class="topic-cards-index-media text-success"><i class="fas fa-handshake mt-1 me-2"></i></span>Pago em: <%= advertisement.invoice_paid_at.strftime("%d/%m/%Y") %> </p>
              <% elsif advertisement.final_price_with_coupon_in_cents < 100 %>
                <p class="mb-0"><span class="topic-cards-index-media text-success"><i class="fas fa-handshake mt-1 me-2"></i></span>Anunciado com cupom</p>
              <% else%>
                <p class="mb-0"><span class="topic-cards-index-media text-danger"><i class="fas fa-clock mt-1 me-2"></i></span>Pagamento pendente</p>
              <% end %>

              <% if advertisement.status == "removed" %>
                <p class="mb-0"><span class="topic-cards-index-media text-warning"><i class="fas fa-minus-circle mt-1 me-2"></i></span>Produto Removido</p>
              <% elsif (advertisement.status === "pending"  && (advertisement.final_price_with_coupon_in_cents > 0)) %>
                <p class="mb-0"><span class="topic-cards-index-media text-danger"><i class="fas fa-clock mt-1 me-2"></i></span>Pagamento pendente</p>
              <% elsif  advertisement.status === "approved"  || (advertisement.status === "approved" && advertisement.final_price_with_coupon_in_cents == 0) %>
                <p class="mb-0"><span class="topic-cards-index-media text-success"><i class="fas fa-check mt-1 me-2"></i></span>Publicado</p>
              <% elsif  (advertisement.status === "waiting_review" || advertisement.status === "paid" || advertisement.final_price_with_coupon_in_cents == 0) %>
                <p class="mb-0"><span class="topic-cards-index-media text-primary"><i class="fas fa-clock mt-1 me-2"></i></span>Aguardando revisão</p>
              <% elsif  advertisement.status === "update_requested" %>
                <p class="mb-0"><span class="topic-cards-index-media text-warning"><i class="fas fa-edit mt-1 me-2"></i></span>Necessita edição</p>
              <% end %>
            </div>
          <hr class="index-line my-2">
          <% if advertisement.advertisable_type == "Product" %>
            <% if advertisement.advertisable.blank? %>
              <p>Produto removido</p>
            <% else %>
              <div class="">
                <h4 class="text-gray"><%= advertisement.advertisable.brand %> <%= advertisement.advertisable.model %></h4>
                <div id="carouselExampleControls<%= advertisement.advertisable.id.to_s %>" class="carousel slide" data-bs-ride="carousel">
                  <% if advertisement.advertisable.photos.attached? %>
                    <div class="carousel-inner">
                      <% advertisement.advertisable.photos.each_with_index do |photo, i| %>
                        <div class="show-carousel-item carousel-item <%= i.zero? ? "active" : ""  %>">
                          <%= cl_image_tag photo.key, crop: :fit, class: 'd-block advertisable-img'  %>
                        </div>
                      <% end %>
                    </div>
                  <% else  %>
                      <%= image_tag "bike-forest.png", class: "advertisable-img" %>
                  <% end %>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls<%= advertisement.advertisable.id.to_s %>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls<%= advertisement.advertisable.id.to_s %>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <div class="advertisable-infos">
                  <div class="<%= mobile_device? ? "d-block" : "d-flex justify-content-between" %> mt-3">
                    <div>
                      <p><span class="text-white">Produto </span> #<%= advertisement.advertisable.id %> </p>
                      <p><span class="text-white">Preço:</span> <%= number_to_currency(advertisement.advertisable.price_in_cents / 100, unit: "R$", separator: ",", delimiter: ".")  %></p>
                      <p><span class="text-white">Quantidade:</span> <%=advertisement.advertisable.quantity  %></p>
                    </div>
                    <div>
                      <p><span class="text-white">Local:</span><%= advertisement.advertisable.city.name %> - <%= advertisement.advertisable.state.acronym %></p>
                      <p><span class="text-white">Ano:</span>  <%= advertisement.advertisable.year %></p>
                      <p><span class="text-white">Produto:</span> <%= advertisement.advertisable.product_type.prompt %></p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <% if policy(advertisement.advertisable).edit? %>
                      <%= link_to edit_product_path(advertisement.advertisable), class: "nav-link fs-18 me-2 text-gray edit-product-btn", id: "edit-user-product-btn"  do %>
                        <i class="fas fa-pen"></i>  Editar <br>
                      <% end %>
                    <% end %>

                    <% if policy(advertisement.advertisable).destroy? %>
                      <%= link_to product_path(advertisement.advertisable), method: :delete, data: { confirm: "Are you sure you want to remove #{advertisement.advertisable.product_type.prompt}?"}, class: "remove-link fs-18 text-gray delete-product-btn", id: "delete-user-product-btn" do %>
                        <i class="fas fa-trash"></i> Remover
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% elsif advertisement.advertisable_type == "Bike" %>
            <% if advertisement.advertisable.blank? %>
              <p>Bike removida</p>
            <% else %>
              <div class="">
                <h4 class="text-gray"><%= advertisement.advertisable.frame_brand %> <%= advertisement.advertisable.model %></h4>
                <div id="carouselExampleControls<%= advertisement.advertisable.id.to_s %>" class="carousel slide" data-bs-ride="carousel">
                  <% if advertisement.advertisable.photos.attached? %>
                    <div class="carousel-inner">
                      <% advertisement.advertisable.photos.each_with_index do |photo, i| %>
                        <div class="show-carousel-item carousel-item <%= i.zero? ? "active" : ""  %>">
                          <%= cl_image_tag photo.key, crop: :fit, class: 'd-block advertisable-img'  %>
                        </div>
                      <% end %>
                    </div>
                  <% else  %>
                      <%= image_tag "bike-forest.png", class: "advertisable-img" %>
                  <% end %>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls<%= advertisement.advertisable.id.to_s %>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls<%= advertisement.advertisable.id.to_s %>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <div class="advertisable-infos">
                  <div class="<%= mobile_device? ? "d-block" : "d-flex justify-content-between" %> mt-3">
                    <div>
                      <p><span class="text-white">Bike </span>#<%= advertisement.advertisable.id %> </p>
                      <p><span class="text-white">Preço:</span> <%= number_to_currency(advertisement.advertisable.price_in_cents / 100, unit: "R$", separator: ",", delimiter: ".")  %></p>
                      <p><span class="text-white">Quantidade:</span> <%= advertisement.advertisable.quantity  %></p>
                    </div>
                    <div>
                      <p><span class="text-white">Local:</span><%= advertisement.advertisable.city.name %> - <%= advertisement.advertisable.state.acronym %></p>
                      <p><span class="text-white">Ano:</span> <%= advertisement.advertisable.year %></p>
                      <p><span class="text-white">Tipo:</span> <%= advertisement.advertisable.type_display %></p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <% if policy(advertisement.advertisable).edit? %>
                      <%= link_to edit_bike_path(advertisement.advertisable), class: "nav-link fs-18 me-2 text-gray edit-bike-btn", id: "edit-user-bike-btn"  do %>
                        <i class="fas fa-pen"></i>  Editar <br>
                      <% end %>
                    <% end %>
                    <% if policy(advertisement.advertisable).destroy? %>
                      <%= link_to bike_path(advertisement.advertisable), method: :delete, data: { confirm: "Are you sure you want to remove #{advertisement.advertisable.model}?"}, class: "remove-link fs-18 text-gray delete-bike-btn", id: "edit-user-bike-btn" do %>
                        <i class="fas fa-trash"></i> Remover
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end%>
        </div>
      </div>

    <% end %>
  </div>
</div>
