<div class="container advertisements mb-5">
  <h1 class="my-3 text-center text-success">Anuncios</h1>
  <div class="d-flex flex-wrap justify-content-between">
    <% @advertisements.each do | advertisement | %>
      <div class="cards-index-advertisements  gap-2">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <h6><span class="text-success">Anúncio</span> #<%= advertisement.id %></h6>
              <h6><span class="text-success">Total:</span> <%=number_to_currency(advertisement.price_in_cents / 100, unit: "R$", separator: ",", delimiter: ".")%> </h6>
              <h6><span class="text-success">Status:</span> <%= advertisement.status %> </h6>

              <div class="d-flex">
                <% if advertisement.invoice_paid_at.present? %>
                  <i class="fas fa-handshake mt-1" style="color: green;"></i>
                  <p><span class="topic-cards-index-media ms-3">Pago em: </span> <%= advertisement.invoice_paid_at.strftime("%d/%m/%Y") %> </p>
                <% else%>
                  <i class="fas fa-clock mt-1" style="color: red;"></i>
                  <p><span class="topic-cards-index-media ms-3">Aguardando pagamento</p>
                <% end %>
              </div>
            </div>
            <% if !advertisement.is_free? %>
              <div>
                <a href="<%= advertisement.invoice_url %>" target="_blank" class="btn-invoice">Ver invoice</a>
              </div>
            <% end %>
          </div>
          <hr class="index-line">
          <% if advertisement.advertisable_type == "Product" %>
            <div class="d-flex justify-content-between">
              <p><span class="text-success">Produto </span> #<%= advertisement.advertisable.id %> </p>
              <p><span class="text-success">Preço:</span> <%= number_to_currency(advertisement.advertisable.price_in_cents / 100, unit: "R$", separator: ",", delimiter: ".")  %></p>
              <p><span class="text-success">Quantidade:</span> <%=advertisement.advertisable.quantity  %></p>
            </div>
          <% elsif advertisement.advertisable_type == "Bike" %>
            <div class="d-flex justify-content-between">
              <p><span class="text-success">Bike </span>#<%= advertisement.advertisable.id %> </p>
              <p><span class="text-success">Preço:</span> <%= number_to_currency(advertisement.advertisable.price_in_cents / 100, unit: "R$", separator: ",", delimiter: ".")  %></p>
              <p><span class="text-success">Quantidade:</span> <%=advertisement.advertisable.quantity  %></p>
            </div>
          <% end%>
        </div>
      </div>

    <% end %>
  </div>
</div>
