<% if @advertisement.price_in_cents == 0 %>
  <div class="payment-confirmed vh-100 success-text flex center around">
    <div class="p-5 flex center column">
      <i class="fas fa-thumbs-up fs-36 pr-4 mb-4"></i>
      <h3>Seu produto foi criado e anuncio gerado, agora aguarde a aprovação do anúncio em até 3 dias úteis.</h3>

      <%= link_to advertisements_path, class: "after-payment-button-link" do %>
        <p class="btn btn-dark w-100 p-2 px-5 br-8">Ver produtos anunciados</p>
      <% end %>
    </div>
  </div>
<% else %>
  <div  class="payment-confirmed vh-100 success-text d-none flex center around">
    <div class="p-5 flex center column">
      <i class="fas fa-thumbs-up fs-36 pr-4 mb-4"></i>
      <h3>Pagamento confirmado!</h3>
      <p>Seu produto foi criado e anuncio gerado, agora aguarde a aprovação do anúncio em até 3 dias úteis.</p>
      <p class="text-center"><strong>Ao realizar o pagamento da fatura abaixo utilizando PIX, Boleto ou Cartão de Crédito, a compra será finalizada:</strong> </p>
      <%= link_to advertisements_path, class: "after-payment-button-link" do %>
        <p class="btn btn-dark w-100 p-2 px-5 br-8">Ver meu produtp</p>
      <% end %>
    </div>
  </div>
  <div id="invoice-container" class="payment-container container" data-advertisement-id="<%= @advertisement.id %>">
    <div class="my-5">
      <h1 class="title">Pagamento do pedido</h1>
      <p><strong>Ao realizar o pagamento da fatura abaixo utilizando PIX, Boleto ou Cartão de Crédito, o anúncio será gerado e pssará por uma revisão, assim que aprovado será publicado.</strong> </p>
      <h3>1 anúncio para: <%= @advertisement.advertisable_type %></h3>
      <h3>Valor total do pedido: <%=number_to_currency(@advertisement.price_in_cents / 100, unit: "R$", separator: ",", delimiter: ".") %></h3>
      <p class="m-0 bg-primary text-white p-4 br-8 mb-3">
        <i class="fa fa-info-circle my-3 pe-2"></i>Para pagar com PIX, clique em "Pix Copia e Cola", pague no aplicativo do seu banco, e retorne aqui para acessar seus passes.
      </p>
    </div>
    <% if @advertisement.invoice_url.present? %>
      <iframe src="<%= @advertisement.invoice_url %>" class="mb-5 invoice" frameborder="0" style="min-height: 1500px; width: 100%"></iframe>
    <% end %>
    <% if @advertisement_error %>
      <p class="danger-text">
        <i class="fas fa-exclamation-triangle mr-3 p-5 fs-30"></i>
        Ocorreu um erro no nosso provedor faturamento. Tente novamente amanhã.
      </p>
    <% end %>
  </div>
<% end%>
