<%= turbo_frame_tag "appearance_channel" %>
<div id="appearance_channel"></div>
<div id="chatroom_container" class="row bg-dark text-light">
  <div id="side_panel" class="col-md-4 col-sm-4">
    <li class="list-group-item d-flex align-items-center justify-content-between user_list_item">
      <div class="icon-container  ms-3 mt-2">
        <%= link_to cl_image_tag(current_user.photo.key, class: 'chat_pfp'), current_user %>
        <%= turbo_stream_from "user_status" %>
        <div>
          <%= render "users/status", user: current_user %>
        </div>
      </div>
      <div class='ms-2 me-auto username'>
        <%= current_user.full_name || current_user.email %>
      </div>
    </li>
    <h4 class="ms-3 mt-2"> conversas </h4>
    <%= turbo_stream_from "users" %>
    <div id="users" data-controller="user-list">
      <%= render "users/users", users: @users %>
    </div>


  </div>
  <div id="room_container"
  class="col-md-8 col-sm-8 bg-dark text-light">
    <% if @single_chat %>
      <div id="single_chat">
        <h4 class="text-center mt-2"> <%= @user&.full_name || @user&.email || @single_chat.name %> </h4>
        <%= turbo_stream_from @single_chat %>
        <div id="messages" data-controller="scroll">
          <%= turbo_frame_tag "page_handler" %>
          <div id="messages-container">
            <%= render @messages %>
          </div>
        </div>
        <%= render 'layouts/new_message_form' %>
      </div>
    <% end %>
  </div>
</div>
