<div id="chatroom_container" class="row bg-dark text-light">
  <div id="side_panel" class="col-md-4 col-sm-4">
    <h5> <%= current_user.email %> </h5>
    <h4> Users </h4>
    <%= turbo_stream_from "users" %>
    <div id="users">
      <%= render @users %>
    </div>
    <h4> Chats </h4>
    <%= turbo_stream_from "chats" %>
    <%= render 'chats/new_chat_form' %>
    <div id="chats">
      <%= render @chats%>
    </div>
  </div>
  <div id="chat_container"
  class="col-md-8 col-sm-8 bg-dark text-light">
    <% if @single_chat %>
      <div id="single_chat">
        <h4 class="text-center"> <%= @user&.email || @single_chat.name %> </h4>
        <%= turbo_stream_from @single_chat %>
        <div id="messages">
          <%= render @messages %>
        </div>
        <%= render 'layouts/new_message_form' %>
      </div>
    <% end %>
  </div>
</div>
