<%= turbo_frame_tag "appearance_channel" %>
<div id="appearance_channel"></div>
<div id="chatroom_container" class="row bg-dark text-light">
  <div id="side_panel" class="col-md-4 col-12 border-right border-success">
    <li class="list-group-item d-flex align-items-center justify-content-between user_list_item user-info">
      <div class="icon-container  ms-3 mt-2">
        <%= link_to cl_image_tag(current_user.photo.key, class: 'chat_pfp'), current_user %>
        <%= turbo_stream_from "user_status" %>
        <div>
          <%= render "users/status", user: current_user %>
        </div>
      </div>
      <div class='ms-2 me-auto username'>
        <%= current_user.full_name || current_user.email %>
      </div>
    </li>
    <%= link_to "Conversas", chats_path, class: "ms-3 mt-2 nav-link-drop" %>
    <div class="search-user mx-3">
      <%= form_with url: @users_path, method: :get, class: "d-flex mb-3" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-user-input",
          placeholder: "🔎 Pesquisar"
        %>
        <%= submit_tag "Search", class: "btn btn-primary d-none" %>
      <% end %>
    </div>
    <%= turbo_stream_from "users" %>
    <div id="users" data-controller="user-list">
      <%= render "users/users", users: @users %>
    </div>
    <%= turbo_stream_from "chats" %>
  </div>

  <div id="chat_container"
  class="col-md-8 col-12 bg-dark text-light">
    <% if @single_chat %>
      <div id="single_chat">
        <div class="d-flex justify-content-around py-2 user-conversation-info mb-1">
          <button id="back-to-users"><i class="fas fa-arrow-left me-5 mt-2 text-success"></i></button>
          <%= cl_image_tag(@user.photo.key, class: 'chat_pfp') %>
          <% if @user.full_name.present? %>
            <h4 class="text-center mt-2"> <%= @user.full_name %> </h4>
          <% else %>
            <h4 class="text-center mt-2"> <%= @user.email %> </h4>
          <% end %>
        </div>
        <%= turbo_stream_from @single_chat %>
        <div id="messages" data-controller="scroll">
          <div id="messages-container">
            <%= render @messages %>
          </div>
        </div>
        <%= render 'layouts/new_message_form' %>
      </div>
    <% end %>
  </div>
</div>
