<div class="first-section-home">
  <div class="flex center around h-100 w-100">
    <div class="<%= mobile_device? ? "w-90" : "w-80" %>">
      <div class="spacer-100 page-desktop"></div>
      <h2>A COMUNIDADE DE COMPRA E VENDA DO <br><span class="text-success mt-3">CICLISTA</span></h2>
      <p class="text-white">Compre e venda sua bike, componentes e equipamentos com facilidade e segurança!</p>
      <%= link_to "VER BIKES", bikes_path, class: "btn-home-smooth mt-5 view-bikes", id: "home-bikes-btn" %>
      <%= link_to "VER PRODUTOS", products_path, class: "btn-home-smooth mt-5 ms-3 view-products", id: "home-products-btn" %>

      <% if false %>
        <div class="input-group my-4 text-center">
          <input type="text" class="form-control" placeholder="<%= mobile_device? ? "Busque" : "Bicicletas, assessórios, serviços, etc..." %>" aria-label="Bicicletas, assessórios, serviços, etc..." aria-describedby="button-addon2">
          <button class="btn btn-success px-2 px-md-3 text-white text-center" type="button" id="button-addon2">ENCONTRAR BICICLETAS</button>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="<%= mobile_device? ? "" : "d-none" %>">
  <h3 class="text-success mb-3 text-center">Navegue por categoria</h3>
</div>
<div slides-per-view="2" speed="5000" loop="true" css-mode="true" navigation="true" class="mb-5 mt-0 swiper-container <%= mobile_device? ? "" : "d-none" %>">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="slide-card">
        <%= image_tag "mtb-bg.jpg", class: "slider-img" %>
        <button type="button" class="slide-button mountain-bikes" id="mobile-mountain-bikes" data-url="<%= url_for(controller: 'bikes', action: 'index', categories: 'mountain_bike') %>">Bikes MTB</button>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-card">
        <%= image_tag "road-bg.jpg", class: "slider-img" %>
        <button type="button" class="slide-button road-bikes", id="mobile-road-bikes" data-url="<%= url_for(controller: 'bikes', action: 'index', categories: 'road') %>">Bikes Road</button>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-card">
        <%= image_tag "e-bike-bg.jpg", class: "slider-img" %>
        <button type="button" class="slide-button e-bikes" id="mobile-e-bikes" data-url="<%= url_for(controller: 'bikes', action: 'index', bike_type: 'e-bike') %>">E-Bike</button>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-card">
        <%= image_tag "accessories-bg.jpg", class: "slider-img" %>
        <button type="button" class="slide-button products-accessories-btn" id="mobile-accessories-products" data-url="<%= url_for(controller: 'products', action: 'index', products_accessories: 'products_accessories') %>">Acessórios</button>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-card">
        <%= image_tag "components-bg.jpg", class: "slider-img" %>
        <button type="button" class="slide-button products-components-btn" id="mobile-components-products" data-url="<%= url_for(controller: 'products', action: 'index', products_components: 'products_components') %>">Componentes</button>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-card">
        <%= image_tag "clothes-bg.jpg", class: "slider-img" %>
        <button type="button" class="slide-button products-clothes-btn" id="mobile-clothes-products" data-url="<%= url_for(controller: 'products', action: 'index', products_clothes: 'products_clothes') %>">Vestuário</button>
      </div>
      </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<div class="second-section-home mb-5 pb-5 <%= mobile_device? ? "d-none" : "" %>">
  <div class="d-flex justify-content-between mb-1">
    <div class="ms-3">
      <h3 class="mt-5 text-success ms-5 mb-2">CATEGORIAS</h3>
    </div>
  </div>
  <div class="row row-cols-1 category-cards <%= mobile_device? ? "mx-4" : "mx-5" %>">
    <div class="col-12 col-md-4">
      <%= link_to({:controller => "bikes", :action => "index", :categories => "mountain_bike"}, :class=>"mountain-bikes", id:"desktop-mountain-bikes") do %>
        <div class="card card-bikes mb-5 btn-remove-link">
          <h3 class="text-center card-title">B<span class="flicker">I</span>KES MTB</h3>
          <%= image_tag "mtb-bg.jpg", class: "card-bg" %>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-md-4">
      <%= link_to({:controller => "bikes", :action => "index", :categories => "road"}, :class=>"road-bikes", id: "desktop-road-bikes") do %>
        <div class="card card-components mb-5 btn-remove-link">
          <h3 class="text-center card-title">BIKES R<span class="flicker">O</span>AD </h3>
          <%= image_tag "road-bg.jpg", class: "card-bg" %>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-md-4">
      <%= link_to({:controller => "bikes", :action => "index", :bike_type => "e-bike"}, :class=>"e-bikes", id: "desktop-e-bikes") do %>
        <div class="card card-services mb-5 btn-remove-link">
          <h3 class="text-center card-title"><span class="flicker">E</span>-Bikes</h3>
          <%#= image_tag "e-bike-bckgr.jpg", class: "card-bg" %>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-4">
      <%= link_to({:controller => "products", :action => "index", :products_accessories => "products_accessories"}, :class=>"products-accessories-btn", id: "desktop-accessories-products" ) do %>
        <div class="card card-products mb-5 btn-remove-link">
          <h3 class="text-center card-title">ACESS<span class="flicker">Ó</span>RIOS</h3>
          <%= image_tag "accessories-bg.jpg", class: "card-bg" %>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-4">
      <%= link_to({:controller => "products", :action => "index", :products_components => "products_components"}, :class=>"products-components-btn", id: "desktop-components-products" ) do %>
        <div class="card card-products mb-5 btn-remove-link">
          <h3 class="text-center card-title">C<span class="flicker">O</span>MPONENTES</h3>
          <%= image_tag "components-bg.jpg", class: "card-bg" %>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-4">
      <%= link_to({:controller => "products", :action => "index", :products_clothes => "products_clothes"}, :class=>"products-clothes-btn", id:"desktop-clothes-products" ) do %>
        <div class="card card-products mb-5 btn-remove-link">
          <h3 class="text-center card-title">VESTUÁR<span class="flicker">I</span>O</h3>
          <%= image_tag "clothes-bg.jpg", class: "card-bg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="seventh-section-home my-3">
  <h3 class="mt-1 text-success text-center <%= mobile_device? ? "mx-3" : "" %>">Certificados Nuflow - Compre com segurança</h3>
  <div class="buyer-section  <%= mobile_device? ? "mx-4" : "mx-5" %>">
    <div class="d-flex justify-content-between gap-3 cards-services">
      <div class="card-how-works-services text-center">
        <i class="fas fa-check-circle text-success mt-4 icon"></i>
        <h4 class="text-success">PRODUTOS CERTIFICADOS</h4>
        <p>São verificados por lojas e oficinas credenciadas pela Nuflow.</p>
      </div>

      <div class="card-how-works-services text-center">
        <i class="fas fa-thumbs-up text-success mt-4 icon"></i>
        <h4 class="text-success">ASSESSORIA ESPECIALIZADA</h4>
        <p>Conte com a ajuda de ciclistas experientes para encontrar a bike ou equipamento ideal para você.</p>
      </div>


      <div class="card-how-works-services text-center">
        <i class="fas fa-clipboard-check text-success mt-4 icon"></i>
        <h4 class="text-success">PAGAMENTO PACELADO E SEGURO</h4>
        <p>Nós retemos seu pagamento, à vista ou parcelado, até a confirmação de recebimento do produto.</p>
      </div>
    </div>

      <div class="d-flex justify-content-center gap-5 links-service my-5">
        <%= link_to "BIKES CERTIFICADAS",  {:controller => "bikes", :action => "index", :verified => true}, class: "btn-home-certified-bikes", id: "certified-bikes" %>
        <%= link_to "PRODUTOS CERTIFICADOS",  {:controller => "products", :action => "index", :verified => true}, class: "btn-home-certified-products", id: "certified-products" %>
      </div>

  </div>
</div>

<div class="fourth-section-home py-2">
  <div class="row row-cols-1 <%= mobile_device? ? "mx-3" : "mx-5" %>">
    <div class="col-12 col-md-4 review-icons">
      <h3 class="text-success text-start mt-5">A Nuflow te ajuda a comprar e vender com mais facilidade</h3>
      <p class="text-start text-gray"><i class="far fa-clock me-2"></i> Rapidez na venda</p>
      <p class="text-start text-gray"><i class="fas fa-handshake me-1"></i> Sem intermediários</p>
      <p class="text-start text-gray"><i class="fas fa-filter me-2"></i> Filtros especializados</p>
    </div>
    <div class="col-12 col-md-8 mt-2">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators d-none">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active py-5">
            <div class="review-card">
              <h4 class="text-center text-success mt-5">Gabriel Parisotto</h4>
              <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              <p class="text-center text-gray">Galera 100% responsável! Vendi minha bike em questão de dias com muita segurança, agilidade e sem incomodo algum.</p>
            </div>
          </div>
          <div class="carousel-item py-5">
            <div class="review-card">
              <h4 class="text-center text-success mt-5">Camila Rocha</h4>
              <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              <p class="text-center text-gray">Site facil e rápido de navegar e inserir os dados! Equipe super solicita e cordial!!! Experiência excelente!!! Pode confiar de olhos fechados!!!</p>
            </div>
          </div>
          <div class="carousel-item py-5">
            <div class="review-card">
              <h4 class="text-center text-success mt-5">Daniel Soares</h4>
              <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              <p class="text-center text-gray">Comunicação simples e rápida desde o início da negociação da minha bike. Recomendo a Nuflow 100% caso esteja querendo vender sua bikeObrigado Nuflow</p>
            </div>
          </div>
          <div class="carousel-item py-5">
           <div class="review-card">
              <h4 class="text-center text-success mt-3">Rodrigo Alves</h4>
              <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              <p class="text-center text-gray">Postei minha bike em um sábado à noite, e recebido contato da Nuflow, se não me engano na segunda-feira com alguns questionamentos. Tudo respondido, tive a felicidade de na terça-feira, entrarem em contato comigo para informar a venda da bike!! 3 dias!!!!! Foi muito rápido!! Bike entregue para o bike check na própria terça e para o novo dono na quinta! Vale muito a pena fazer negócio com a Nuflow!!! Sucesso garantido!! Valeu Nuflow!!!</p>
            </div>
          </div>
          <div class="carousel-item py-5">
            <div class="review-card">
              <h4 class="text-center text-success mt-5">Arthur Guerra</h4>
              <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              <p class="text-center text-gray">Empresa de responsa!! já vendi duas bikes com eles, fazem o possível e impossível para dar certo, sucesso para vocês rapaziada! Obrigado pela atenção 🤟🏼</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="fifth-section-home py-5 <%= mobile_device? ? "mx-4" : "mx-5" %>">
  <div class="d-flex justify-content-between blog-section">
    <div class="col-12 col-md-6 blog-text d-flex flex-column align-items-stretch">
      <h2 class="text-success mb-5">BLOG</h2>
      <h3 class="mb-5">Confira dicas de como comprar e vender sua bike ou equipamento.</h3>
      <div class="text-center <%= mobile_device? ? "my-5" : "mt-5" %>">
        <%= link_to "VER DICAS", "https://nuflowshop.com.br/category/compra-e-venda/", target: "_blank", class: "btn-home-blog mt-5", id: "Blogs" %>
      </div>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= link_to "https://nuflowshop.com.br/como-vender-sua-bike-online-rapidamente/", class: "blog-bikes", target: "_blank", id: "blog-bikes-1" do %>
            <div class="cards-blog">
              <img src="https://lh3.googleusercontent.com/HhzP3dOxdFW90Eso9KE8_eHlhXpzGV3kCjUy1LxTF9DuUlCTn_yZAjNCifkT01610tyS8NekP9rQX9MOLbb8j96CX6aIk2KrpezXcJNuLGZS21Ak3XAPJPEBySpnKvGrFSUrMkzn" alt="" class="blog-img">
              <div class="p-3">
                <h4 class="text-white text-center <%= mobile_device? ? "mt-3" : "mt-1" %>">COMO VENDER SUA BIKE ONLINE RAPIDAMENTE</h4>
                <p class="text-center text-gray"> <small>O dia de se desfazer da sua bike finalmente chegou. Talvez tenha sido para pegar um modelo que te atende melhor, talvez por necessidade financeira ou talvez por que você não estava conseguindo dar atenção para a magrela. Com ou sem dor no coração, é hora de começar a anunciar sua bicicleta a espera do próximo dono ou dona aparecer e se apaixonar. </small> </p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to "https://nuflowshop.com.br/quanto-vale-minha-bike-guia-para-precificar-bicicletas-usadas/", class: "blog-bikes", target: "_blank", id: "blog-bikes-2" do %>
            <div class="cards-blog">
              <img src="https://lh4.googleusercontent.com/rO0ijWdCHOBHndJ_EZ_08u_y6t6tDlUyZ4tSwHKJKysZi17o8lcjrrN__RqoK7l0gQ1M71Etagiln30ModLCBvB6YQsp1lcpoREiyC1ukByZ28chYn5ATviaQWnXisqlBOCZ80d9" alt="" class="blog-img">
              <div class="p-3">
                <h4 class="text-white text-center <%= mobile_device? ? "mt-3" : "mt-1" %>">QUANTO VALE MINHA BIKE? GUIA PARA PRECIFICAR BICICLETAS USADAS</h4>
                <p class="text-center text-gray"> <small>Saber calcular o preço de venda da sua bike usada é um dos grandes desafios de quem vai trocar de bicicleta. Assim como carros, bicicletas sofrem grande desvalorização a partir do momento que deixam a loja. Mas a taxa de desvalorização depende de fatores que nem sempre são fáceis de medir, por isso chegar a uma resposta precisa pode dar trabalho.</small> </p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to "https://nuflowshop.com.br/mtb-road-como-escolher-a-bike-certa-para-voce/", class: "blog-bikes", target: "_blank", id: "blog-bikes-3" do %>
            <div class="cards-blog">
              <img src="https://nuflowshop.com.br/wp-content/uploads/2023/01/bike-urbana-768x384.jpg" alt="" class="blog-img">
              <div class="p-3">
                <h4 class="text-white text-center <%= mobile_device? ? "mt-3" : "mt-1" %>">MTB? ROAD? COMO ESCOLHER A BIKE CERTA PARA VOCÊ!</h4>
                <p class="text-center text-gray"> <small>Quem decide comprar uma bicicleta depois de algum tempo longe dos pedais encontra um mar de opções, tipos e preços. Fica difícil até entender qual o melhor equipamento para o que você busca. Será que preciso de uma MTB (Mountain Bike)? Preciso de suspensão? Como comprar uma bike usada? Estas e outras perguntas devem ter passado na sua cabeça.</small> </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="sixth-section-home py-5">
  <h3 class="text-success text-center mb-3">ENCONTRE A GENTE</h3>
  <div class="d-flex justify-content-around <%= mobile_device? ? "mx-4" : "mx-5" %> mb-3 social">
    <div class="cards-social-media youtube text-center">
      <i class="fab fa-youtube"></i>
      <p class="mt-1">Nos assista no</p>
      <h3 class="mb-4">YOUTUBE</h3>
      <%= link_to "Assista", "https://www.youtube.com/channel/UCMvz9XhN0wl39RK4y7Q7cEw", class: "btn-social btn-youtube", id: "youtube-link", target: "_blank"  %>
    </div>

    <div class="cards-social-media instagram text-center">
      <i class="fab fa-instagram social-instagram"></i>
      <p class="mt-1">Nos siga no</p>
      <h3 class="mb-4">INSTAGRAM</h3>
      <%= link_to "Siga", "https://www.instagram.com/_nuflow_/", class: "btn-social btn-instagram", id: "instagram-link", target: "_blank"  %>
    </div>

    <div class="cards-social-media nuflow text-center">
      <%= image_tag "white_logo_1.png", class: "social-logo" %>
      <p class="mt-1 mb-0">Descubra eventos e experiências na</p>
      <h3 class="mb-3">NUFLOW PASS</h3>
      <%= link_to "Descubra", "https://nuflowpass.com.br/", class: "btn-social", id: "nuflow-pass-link", target: "_blank"  %>
    </div>
  </div>
</div>



<div class="wpp-btn text-success">
  <%= link_to "https://wa.me/553196225074", "data-toggle": "tooltip" , "data-placement": "top", "title": "Fala com um especialista", id: "whatsapp-link", target: "_blank" do %>
    <i class="fab fa-whatsapp-square"></i>
  <% end %>
</div>


<script>
  var slideButtons = document.querySelectorAll('.slide-button');

  slideButtons.forEach(function(button) {
    button.addEventListener('click', function() {
      var url = button.getAttribute('data-url');

      window.open(url, '_blank');
    });
  });

  var mySwiper = new Swiper(".swiper-container", {
    spaceBetween: 1,
    slidesPerView: 2,
    centeredSlides: true,
    roundLengths: true,
    loop: true,
    loopAdditionalSlides: 30,
    navigation:  {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    }
  });

</script>
