<div class="first-section-home">
  <div class="flex center around h-100 w-100">
    <div class="<%= mobile_device? ? "w-90" : "w-80" %>">
      <div class="spacer-100 page-desktop"></div>
      <h1>COMPRE BICICLETAS USADAS<br><span class="text-success">COM MECÂNICA VERIFICADA.</span></h1>
      <p class="text-white">Bikes inspecionadas por oficinas qualificadas para você não ter nenhuma surpresa.</p>
      <%= link_to "BIKES À VENDA", "#", class: "btn btn-primary mt-5 px-4" %>
      <%= link_to "VENDER MINHA BIKE", "#", class: "btn btn-outline mt-5 px-4 ms-3" %>
      <% if false %>
        <div class="input-group my-4 text-center">
          <input type="text" class="form-control" placeholder="<%= mobile_device? ? "Busque" : "Eventos, competições, pistas, bike parks, etc..." %>" aria-label="Eventos, competições, pistas, bike parks, etc..." aria-describedby="button-addon2">
          <button class="btn btn-success px-2 px-md-3 text-white text-center" type="button" id="button-addon2">ENCONTRAR EXPERIÊNCIAS</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="second-section-home mb-5 pb-5">
  <div class="d-flex justify-content-between mb-3">
    <div class="ms-3">
      <h3 class="mt-5 text-success ms-5">CATEGORIAS</h3>
    </div>
  </div>
  <div class="row row-cols-1 category-cards mx-5">
    <%= link_to "#", class: "col-12 col-md-4 mb-2 btn-remove-link bike-link" do %>
      <div class="card card-bikes">
        <h3 class="text-center mt-5 card-title">BIKES <br> <%= image_tag "bicycle.png", class: "card-icon" %></h3>
      </div>
    <% end %>
    <%= link_to "#", class: "col-12 col-md-4 mb-2 btn-remove-link" do %>
      <div class="card card-components">
        <h3 class="text-center mt-5 card-title">COMPONENTES <br><%= image_tag "chain.png", class: "card-icon" %></h3>
      </div>
    <% end %>
    <%= link_to "#", class: "col-12 col-md-4 mb-2 btn-remove-link" do %>
      <div class="card card-services">
        <h3 class="text-center mt-5 card-title">SERVIÇOS <br><%= image_tag "settings.png", class: "card-icon" %></h3>
      </div>
    <% end %>
    <%= link_to "#", class: "col-12 col-md-4 mb-2 btn-remove-link" do %>
      <div class="card card-products">
        <h3 class="text-center mt-5 card-title">PRODUTOS <br><%= image_tag "easy-maintenance.png", class: "card-icon" %></h3>
      </div>
    <% end %>
    <%= link_to "#", class: "col-12 col-md-4 mb-2 btn-remove-link" do %>
      <div class="card card-products">
        <h3 class="text-center mt-5 card-title">PRODUTOS <br><%= image_tag "easy-maintenance.png", class: "card-icon" %></h3>
      </div>
    <% end %>
    <%= link_to "#", class: "col-12 col-md-4 mb-2 btn-remove-link" do %>
      <div class="card card-products">
        <h3 class="text-center mt-5 card-title">PRODUTOS <br><%= image_tag "easy-maintenance.png", class: "card-icon" %></h3>
      </div>
    <% end %>
  </div>
</div>

<div class="third-section-home mb-5 ms-3">
  <div class="d-flex justify-content-between mt-3">
    <%= image_tag "bike-certify.png", class: "bike-check-img ms-5 me-3" %>
    <div class="check-text">
      <h2 class="text-success ms-2">Compre sua bike com a segurança do Bike Check</h2>
      <p class="ms-2 mb-5">Oficinas qualificadas fazem a avaliação das características, componentes e estado estrutural, <br> estético e de funcionamento da bicicleta.</p>

      <h3 class="text-success"> <i class="fas fa-spray-can"></i> <span class="ms-2"> 1. Tudo começa pela lavagem</span></h3>
      <p class="ms-5 mb-5">Lavamos a bicicleta para permitir uma boa inspeção visual e garantir que ela será entregue limpa.</p>

      <h3 class="text-success"> <i class="fas fa-search text-success"></i> <span class="ms-2">2. É feita uma inspeção minuciosa</span></h3>
      <p class="ms-5 mb-5">Buscamos identificar lascas maiores na pintura, trincas e fissuras visuais na estrutura.</p>

      <h3 class="text-success"> <i class="fas fa-check-double"></i> <span class="ms-2">3. Verificamos a mecânica</span></h3>
      <p class="ms-5 mb-5">São verificadas as características da bike e o funcionamento dos componentes: <br>
        - Medida do quadro e dos aros <br>
        - Marca e modelo visíveis do quadro, câmbios, suspensões, freios e canote <br>
        - Teste de funcionamento dos câmbios, freios, suspensões e canote retrátil <br>
        - Identificação de folgas nas rodas, movimento central (pedivela) e na caixa de direção <br>
        - Desgaste da corrente e dos pneus
      </p>

      <h3 class="text-success"> <i class="fas fa-screwdriver"></i> <span class="ms-2">4. Ajustamos a bike para que a receba revisada</span></h3>
      <p class="ms-5 mb-5">Fazemos o aperto geral da bicicleta e regulamos os câmbios e freios.</p>

      <h3 class="text-success"> <i class="fas fa-clipboard-list"></i> <span class="ms-2">5. Emitimos um laudo mecânico</span></h3>
      <p class="ms-5 mb-5">Você receberá um lado com todas as informações acima, além de fotos da bicicleta e componentes, para que você não tenha nenhuma surpresa.</p>
    </div>
  </div>
</div>
