<div class="first-section-home">
  <div class="flex center around h-100 w-100">
    <div class="<%= mobile_device? ? "w-90" : "w-80" %>">
      <div class="spacer-100 page-desktop"></div>
      <h1>COMPRE BICICLETAS USADAS<br><span class="text-success mt-3">COM MECÂNICA VERIFICADA.</span></h1>
      <p class="text-white">Bikes inspecionadas por oficinas qualificadas para você não ter nenhuma surpresa.</p>
      <%= link_to "BIKES À VENDA", "#", class: "btn btn-primary mt-5 px-4" %>
      <%= link_to "VENDER MINHA BIKE", "#", class: "btn btn-outline mt-5 px-4 ms-3" %>
      <% if false %>
        <div class="input-group my-4 text-center">
          <input type="text" class="form-control" placeholder="<%= mobile_device? ? "Busque" : "Bicicletas, assessórios, serviços, etc..." %>" aria-label="Bicicletas, assessórios, serviços, etc..." aria-describedby="button-addon2">
          <button class="btn btn-success px-2 px-md-3 text-white text-center" type="button" id="button-addon2">ENCONTRAR BICICLETAS</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="second-section-home mb-5 pb-5">
  <div class="d-flex justify-content-between mb-1">
    <div class="ms-3">
      <h3 class="mt-5 text-success ms-5 mb-2">CATEGORIAS</h3>
    </div>
  </div>
  <div class="row row-cols-1 category-cards mx-5">
    <%= link_to "#", class: "col-12 col-md-4 mb-5 btn-remove-link" do %>
      <div class="card card-bikes">
        <h3 class="text-center card-title">BIKES </h3>
        <%= image_tag "bicycle.png", class: "card-icon " %>
      </div>
    <% end %>
    <%= link_to "#", class: "col-12 col-md-4 mb-5 btn-remove-link" do %>
      <div class="card card-components">
        <h3 class="text-center card-title">COMPONENTES </h3>
        <%= image_tag "chain.png", class: "card-icon" %>
      </div>
    <% end %>
    <%= link_to "#", class: "col-12 col-md-4 mb-5 btn-remove-link" do %>
      <div class="card card-services">
        <h3 class="text-center card-title">SERVIÇOS</h3>
        <%= image_tag "settings.png", class: "card-icon" %>
      </div>
    <% end %>
    <%= link_to "#", class: "col-12 col-md-4 mb-3 btn-remove-link" do %>
      <div class="card card-products">
        <h3 class="text-center card-title">PRODUTOS</h3>
        <%= image_tag "easy-maintenance.png", class: "card-icon" %>
      </div>
    <% end %>
    <%= link_to "#", class: "col-12 col-md-4 mb-3 btn-remove-link" do %>
      <div class="card card-products">
        <h3 class="text-center card-title">PRODUTOS</h3>
        <%= image_tag "easy-maintenance.png", class: "card-icon" %>
      </div>
    <% end %>
    <%= link_to "#", class: "col-12 col-md-4 mb-3 btn-remove-link" do %>
      <div class="card card-products">
        <h3 class="text-center card-title">PRODUTOS</h3>
        <%= image_tag "easy-maintenance.png", class: "card-icon" %>
      </div>
    <% end %>
  </div>
</div>

<div class="mt-3 third-section-home mb-5">
  <h2 class="text-success ms-2 third-section-title text-center">Compre sua bike com a segurança do Bike Check</h2>
  <p class="mx-5 mb-5 text-center">É normal que uma bicicleta usada apresente marcas de uso e desgaste dos componentes. Por isso, em uma revisão simples, oficinas qualificadas fazem a avaliação das características, componentes e estado estrutural, estético e de funcionamento da bicicleta.</p>

  <div class="v-check-line"></div>

  <div class="d-flex justify-content-center responsive-block">
    <div class="w-40 mt-5 me-5">
      <h3 class="text-success mt-5"><i class="fas fa-spray-can"></i><span class="ms-2">Tudo começa pela lavagem</span></h3>
      <p class="mt-5 text-white">Lavamos a bicicleta para permitir uma boa inspeção visual e garantir que ela será entregue limpa.</p>
    </div>
    <%= image_tag "bike-check-1.png", class: "bike-check-img"%>
  </div>

  <div class="v-check-line-b"></div>
  <div class="h-check-line"></div>
  <div class="v-check-line-left"></div>


  <div class="d-flex justify-content-center responsive-block">
    <div class="check-img-card me-5">
      <%= image_tag "bike-check-2.png", class: "bike-check-img me-5"%>
    </div>
    <div class="w-40 mt-5">
      <h3 class="text-success mt-5"> <i class="fas fa-binoculars"></i><span class="ms-2">É feita uma inspeção minuciosa</span></h3>
      <p class="mt-5 text-white">Inspeção visual da estética, estrutura da bike e<br>componentes: buscamos identificar lascas maiores  na pintura, trincas e fissuras visuais na estrutura.</p>
    </div>
  </div>

  <div class="v-check-line-b-left"></div>
  <div class="h-check-line"></div>
  <div class="v-check-line-right"></div>

  <div class="d-flex justify-content-center responsive-block">
    <div class="w-40 me-5">
      <h3 class="text-success mt-5"><i class="fas fa-check-double"></i> <span class="ms-2">Verificamos a mecânica</span></h3>
      <p class="mt-3 text-white">São verificadas as características da bike e o funcionamento dos componentes: <br>
        - Medida do quadro e dos aros <br>
        - Marca e modelo visíveis do quadro, câmbios, suspensões, freios e canote <br>
        - Teste de funcionamento dos câmbios, freios, suspensões e canote retrátil <br>
        - Identificação de folgas nas rodas, movimento central (pedivela) e na caixa de direção <br>
        - Desgaste da corrente e dos pneus
      </p>
    </div>
    <div class="check-img-card">
      <%= image_tag "bike-check-3.png", class: "bike-check-img" %>
    </div>
  </div>

  <div class="v-check-line-b3"></div>
  <div class="h-check-line"></div>
  <div class="v-check-line-left-4"></div>

  <div class="d-flex justify-content-center responsive-block">
    <div class="check-img-card me-5">
      <%= image_tag "bike-check-4.png", class: "bike-check-img me-5"%>
    </div>
    <div class="w-40 mt-5">
      <h3 class="text-success mt-5"> <i class="fas fa-tools"></i><span class="ms-2">Ajustamos a bike para que a receba revisada</span></h3>
      <p class="mt-5 text-white">Fazemos o aperto geral da bicicleta e regulamos os câmbios e freios.</p>
    </div>
  </div>

  <div class="v-check-line-b-left"></div>
  <div class="h-check-line"></div>
  <div class="v-check-line-right-5"></div>


 <div class="d-flex justify-content-center responsive-block">
    <div class="w-40 mt-5 me-5">
      <h3 class="text-success mt-5"> <i class="fas fa-clipboard-list"></i> <span class="ms-2">Emitimos um laudo mecânico</span></h3>
      <p class="mt-5 text-white">Você receberá um lado com todas as informações acima, além de fotos da bicicleta e componentes, para que você não tenha nenhuma surpresa.</p>
    </div>
    <div class="check-img-card">
      <%= image_tag "bike-check-5.png", class: "bike-check-img me-5"%>
    </div>
  </div>
</div>

<div class="fourth-section-home pb-5 my-3 pt-3">
  <h2 class="mt-3 text-success text-center">POR QUE A NUFLOW?</h2>
  <div class="buyer-section mx-5">
    <h2 class="text-success my-3">COMPRE COM SEGURANÇA</h2>
    <div class="row row-cols-1">
      <div class="col-12 col-md-4">
        <div class="cards-differential text-center">
          <i class="fas fa-headset text-success mt-4 icon"></i>
          <h3 class="text-success">ASSESSORIA NA COMPRA</h3>
          <p>Conte com a ajuda de especialistas <br> para encontrar a bike ideal para você.</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="cards-differential text-center">
          <i class="fas fa-credit-card text-success mt-4 icon"></i>
          <h3 class="text-success">PAGAMENTO FLEXÍVEL E SEGURO</h3>
          <p>Parcele sua compra em até 12x. <br> Nós retemos seu pagamento até a <br> confirmação de recebimento.</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="cards-differential text-center">
          <i class="fas fa-clipboard-check text-success mt-4 icon"></i>
          <h3 class="text-success">LAUDO MECÊNICO</h3>
          <p>Com o Bike Check sua bike é verificada e <br> revisada por oficinas qualificadas.</p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <%= link_to "#", class: "btn btn-classic mt-5"  do %>
        <i class="fas fa-bicycle"></i> BIKES
      <% end %>
    </div>
  </div>

  <hr>

  <div class="seller-section mx-5">
    <h2 class="text-success text-end me-2 mb-3">VENDA COM GARANTIA</h2>
    <div class="row row-cols-1 mb-2">
      <div  class="col-12 col-md-4">
        <div class="cards-differential text-center">
          <i class="fas fa-handshake text-success mt-4 icon"></i>
          <h3 class="text-success">VENDA MAIS RÁPIDO</h3>
          <p>Atinja milhares de ciclistas e venda <br> para todo Brasil.</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="cards-differential text-center">
          <i class="fas fa-hand-holding-usd text-success mt-4 icon"></i>
          <h3 class="text-success">PARCELE E RECEBA À VISTA</h3>
          <p>Flexibilidade de pagamento para os  <br> interessados em sua bike.</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="cards-differential text-center">
          <i class="fas fa-people-arrows text-success mt-4 icon"></i>
          <h3 class="text-success">ASSISTÊNCIA NA NEGOCIAÇÂO</h3>
          <p>Atendemos os interessados em sua bike, preocupe-se apenas com as propostas.</p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <%= link_to "#", class: "btn btn-classic mt-3" do %>
        <i class="fas fa-bullhorn"></i> ANUNCIE
      <% end %>
    </div>
  </div>
</div>

<div class="fifth-section-home mx-5 py-5">
  <div class="row row-cols-1 mx-3">
    <div class="col-12 col-md-5 blog-text">
      <h2 class="text-success mb-4">BLOG</h2>
      <h3 class="mb-5">Confira dicas de como comprar e vender sua bike, aprimore suas técnicas de pilotagem e manutenção e fique por dentro de conteúdos inéditos.</h3>
      <%= link_to "ACESSE", "https://nuflowshop.com.br/blog/", target: "_blank", class: "btn btn-primary mt-5" %>
    </div>
    <div class="col-12 col-md-7">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= link_to "https://nuflowshop.com.br/nova-turbo-levo-s-works-specialized/", class: "", target: "_blank" do %>
              <div class="cards-blog">
                <img src="https://nuflowshop.com.br/wp-content/uploads/2022/09/95221-05_LEVO-SW-CARBON-BLUGSTPRL-BLK-LTSIL_FDSQ-300x169.webp" alt="" class="blog-img">
                <h4 class="text-white text-center mt-1">Conheça a nova Turbo Levo 2023 S-Works da Specialized</h4>
                <p class="text-center"> <small>A nova Turbo Levo 2023 S-Works da Specialized chegou para abalar o mercado de mountain bikes elétricas. Ela entrega o poder de pedalar mais trilhas por meio de uma combinação inigualável de qualidade de pilotagem, potência e alcance para ir a qualquer lugar. </small> </p>
              </div>
            <% end %>
          </div>
          <div class="carousel-item">
            <%= link_to "https://nuflowshop.com.br/hans-becking-e-jose-dias-sao-campeoes-do-brasil-ride-2021/", class: "", target: "_blank" do %>
              <div class="cards-blog">
                <img src="https://nuflowshop.com.br/wp-content/uploads/2021/11/400014_993587_mm_211113__4676.jpg" alt="" class="blog-img">
                <h4 class="text-white text-center mt-1">Hans Becking e José Dias são os campeões da Santander Brasil Ride Bahia 2021</h4>
                <p class="text-center"> <small>Vice-campeonato da edição ficou com Gustavo Xavier e Alex Malacarne, melhor dupla das Américas. Entre as mulheres, as alemãs Naima Diesner e Anna Jördens conquistaram a quinta vitória seguida e garantiram o título em Arraial d’Ajuda</small> </p>
              </div>
            <% end %>
          </div>
          <div class="carousel-item">
            <%= link_to "https://nuflowshop.com.br/hans-becking-e-jose-dias-sao-campeoes-do-brasil-ride-2021/", class: "", target: "_blank" do %>
              <div class="cards-blog">
                <img src="https://nuflowshop.com.br/wp-content/uploads/2021/11/399989_993530_mm_211112__3931-300x200.jpg" alt="" class="blog-img">
                <h4 class="text-white text-center mt-1">José Dias (POR) e Marcella Toldi vencem o xco da Santander Brasil Ride Bahia</h4>
                <p class="text-center"> <small>A largada e premiação da sexta etapa foi feita pelo ministro da Cidadania, João Roma. Xavier e Malacarne completaram o top 3 masculino, enquanto o pódio feminino teve as alemãs Anna Jördens e Naima Diesner ao lado de Toldi.</small> </p>
              </div>
            <% end %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon d-none" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon d-none" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="sixth-section-home py-5">
  <h3 class="text-success text-center mb-3">ENCONTRE A GENTE</h3>
  <div class="d-flex justify-content-around mx-5 mb-3 social">
    <%= link_to "https://www.youtube.com/channel/UCMvz9XhN0wl39RK4y7Q7cEw", class: "social-media ", target: "_blank" do %>
      <div class="cards-social-media youtube text-center">
        <h3>YOUTUBE</h3>
        <i class="fab fa-youtube d-none"></i>
      </div>
    <% end %>
    <%= link_to "#", class: "social-media " do %>
      <div class="cards-social-media instagram text-center">
        <h3>INSTAGRAM</h3>
        <i class="fab fa-instagram d-none"></i>
      </div>
    <% end %>
    <%= link_to "https://nuflowpass.com.br/", class: "social-media " do %>
      <div class="cards-social-media nuflow text-center">
        <h3>NUFLOW PASS</h3>
        <%= image_tag "white_logo.png", class: "social-logo d-none" %>
      </div>
    <% end %>
  </div>
</div>

<div class="seventh-section-home pb-5">
  <div class="row row-cols-1 mx-5">
    <div class="col-12 col-md-4">
      <h3 class="text-success text-center mt-5">O que nossos clientes pensam de nós?</h3>
    </div>
    <div class="col-12 col-md-8 mt-5">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators d-none">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="review-card">
              <h4 class="text-center text-success mt-3">Marcelo Person</h4>
              <p class="text-center"><small>Vendedor</small></p>
              <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              <p class="text-center">A experiencia foi bem legal. O atendimento foi decisivo para a avaliação, ja que a primeira  bike que queria nao foi aprovada no bike check, que por sinal é algo que da bastante seguranca, já que por ser de outro estado nao deu para ver pessoalmente.</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="review-card">
              <h4 class="text-center text-success mt-3">Gabriel Parisotto</h4>
              <p class="text-center"><small>Vendedor</small></p>
              <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              <p class="text-center">Galera 100% responsável! Vendi minha bike em questão de dias com muita segurança, agilidade e sem incomodo algum.</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="review-card">
              <h4 class="text-center text-success mt-3">Edwin van Eijk</h4>
              <p class="text-center"><small>Vendedor</small></p>
              <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              <p class="text-center">O pessoal é sério e profissional. A bike fica em uma loja parceira e quando a venda é efetuada tem um contrato tudo certinho. Fizeram o depósito depois dos sete dias combinados da venda. Gostei muito da experiência.</p>
            </div>
          </div>
          <div class="carousel-item">
           <div class="review-card">
              <h4 class="text-center text-success mt-3">Arthur Guerra</h4>
              <p class="text-center"><small>Vendedor</small></p>
              <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              <p class="text-center"> Empresa de responsa!! já vendi duas bikes com eles, fazem o possível e impossível para dar certo, sucesso para vocês rapaziada! obrigado pela atenção 🤟🏼</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="review-card">
              <h4 class="text-center text-success mt-3">Flávio Borges</h4>
              <p class="text-center"><small>Comprador</small></p>
              <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              <p class="text-center">O excelente atendimento foi um diferencial para fechar negócio. Agradeço ao time Nuflow, bem satisfeito com a aquisição e o serviço de confiança prestado.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="wpp-btn">
  <%= link_to "https://wa.me/553196225074", "data-toggle": "tooltip" , "data-placement": "top", "title": "Fala com um especialista", target: "_blank" do %>
    <i class="fab fa-whatsapp-square"></i>
  <% end %>
</div>
