<div class="first-section-home">
  <div class="flex center around h-100 w-100">
    <div class="<%= mobile_device? ? "w-90" : "w-80" %>">
      <div class="spacer-100 page-desktop"></div>
      <h2>A COMUNIDADE DE COMPRA E VENDA DO <br><span class="text-success mt-3">CICLISTA</span></h2>
      <p class="text-white">Compre e venda sua bike, componentes e acessórios com facilidade e segurança!</p>
      <%= link_to "VER BIKES À VENDA", bikes_path, class: "btn btn-primary mt-5" %>
      <%= link_to "VENDER MINHA BIKE", "#", class: "btn btn-outline mt-5 ms-3" %>

      <% if false %>
        <div class="input-group my-4 text-center">
          <input type="text" class="form-control" placeholder="<%= mobile_device? ? "Busque" : "Bicicletas, assessórios, serviços, etc..." %>" aria-label="Bicicletas, assessórios, serviços, etc..." aria-describedby="button-addon2">
          <button class="btn btn-success px-2 px-md-3 text-white text-center" type="button" id="button-addon2">ENCONTRAR BICICLETAS</button>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="second-section-home mb-5 pb-5">
  <div class="d-flex justify-content-between mb-1">
    <div class="ms-3">
      <h3 class="mt-5 text-success ms-5 mb-2">CATEGORIAS</h3>
    </div>
  </div>
  <div class="row row-cols-1 category-cards <%= mobile_device? ? "mx-4" : "mx-5" %>">
    <div class="col-12 col-md-4">
      <%= link_to :controller => "bikes", :action => "index", :categories => "mountain_bike" do %>
        <div class="card card-bikes mb-5 btn-remove-link">
          <h3 class="text-center card-title">B<span class="flicker">I</span>KES MTB</h3>
          <%= image_tag "mtb-bg.jpg", class: "card-bg" %>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-md-4">
      <%= link_to :controller => "bikes", :action => "index", :categories => "road" do %>
        <div class="card card-components mb-5 btn-remove-link">
          <h3 class="text-center card-title">BIKES R<span class="flicker">O</span>AD </h3>
          <%= image_tag "road-bg.jpg", class: "card-bg" %>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-md-4">
      <%= link_to :controller => "bikes", :action => "index", :bike_type => "e-bike" do %>
        <div class="card card-services mb-5 btn-remove-link">
          <h3 class="text-center card-title"><span class="flicker">E</span>-Bikes</h3>
          <%= image_tag "e-bike-bg.jpg", class: "card-bg" %>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-4">
      <%= link_to :controller => "products", :action => "index", :products_accessories => "products_accessories" do %>
        <div class="card card-products mb-5 btn-remove-link">
          <h3 class="text-center card-title">ACESS<span class="flicker">Ó</span>RIOS</h3>
          <%= image_tag "accessories-bg.jpg", class: "card-bg" %>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-4">
      <%= link_to :controller => "products", :action => "index", :products_components => "products_components"  do %>
        <div class="card card-products mb-5 btn-remove-link">
          <h3 class="text-center card-title">C<span class="flicker">O</span>MPONENTES</h3>
          <%= image_tag "components-bg.jpg", class: "card-bg" %>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-4">
      <%= link_to :controller => "products", :action => "index", :products_clothes => "products_clothes" do %>
        <div class="card card-products mb-5 btn-remove-link">
          <h3 class="text-center card-title">VESTUÁR<span class="flicker">I</span>O</h3>
          <%= image_tag "clothes-bg.jpg", class: "card-bg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="seventh-section-home my-3">
  <h3 class="mt-1 text-success text-center">Conte com os serviços da Nuflow para comprar e vender com comodidade e segurança</h3>
  <div class="buyer-section  <%= mobile_device? ? "mx-4" : "mx-5" %>">
    <p class=" text-center text-gray mt-3 fs-20">Evite riscos com produtos tão caros e sensíveis com a certificação Nuflow Tecnologia by Bike Hero</p>
    <div class="d-flex justify-content-between gap-3 cards-services">
      <div class="card-how-works-services text-center">
        <i class="fas fa-user-check text-success mt-4 icon"></i>
        <h4 class="text-success">PERFIL VERIFICADO</h4>
        <p>Identidade do comprador ou vendedor verificados na Receita Federal.</p>
      </div>

      <div class="card-how-works-services text-center">
        <i class="fas fa-thumbs-up text-success mt-4 icon"></i>
        <h4 class="text-success">PRODUTOS VERIFICADOS</h4>
        <p>Prova de posse e validação do produto com verificação anti-fraude por foto e vídeo.</p>
      </div>


      <div class="card-how-works-services text-center">
        <i class="fas fa-clipboard-check text-success mt-4 icon"></i>
        <h4 class="text-success">CERTIFICADO DE TRANFERÊNCIA</h4>
        <p>Oficialize a transação reunindo todos dados do produto  disponível para verificação por seguradoras parceiras e órgãos de segurança pública.</p>
      </div>

    </div>
    <div class="d-flex justify-content-center gap-3 mt-4">
      <div class="d-flex justify-content-center gap-5 links-service">
        <%= link_to "Bikes Certificadas",  {:controller => "bikes", :action => "index", :verified => true}, class: "nav-link" %>
        <%= link_to "Produtos Certificados",  {:controller => "products", :action => "index", :verified => true}, class: "nav-link" %>
        <%= link_to "Contratar Serviços", "#", class: "nav-link" %>
      </div>
    </div>
  </div>

  <hr class="index-line w-50">

  <div class="seller-section  <%= mobile_device? ? "mx-4" : "mx-5" %> mb-5">
    <h3 class="text-success me-2 mb-3 <%= mobile_device? ? "text-center" : " text-end" %>">COMPRE COM TRANQUILIDADE</h3>
    <div class="d-flex justify-content-between gap-3 cards-services">

      <div class="card-how-works-services text-center">
        <i class="fas fa-credit-card text-success mt-4 icon"></i>
        <h4 class="text-success">PARCELAMENTO</h4>
        <p>Compre sua bike ou componente em até 12x no cartão de crédito.</p>
      </div>

      <div class="card-how-works-services text-center">
        <i class="fas fa-shield-alt text-success mt-4 icon"></i>
        <h4 class="text-success">PAGAMENTO SEGURO</h4>
        <p>Retemos o pagamento até a confirmação de entrega do produto.</p>
      </div>

      <div class="card-how-works-services text-center">
        <i class="fas fa-truck text-success mt-4 icon"></i>
        <h4 class="text-success">LOGÍSTICA ASSEGURADA</h4>
        <p>Solução de logística com seguro compatível com o alto valor de bicicletas e componentes de ciclismo.</p>
      </div>
    </div>
  </div>


</div>

<div class="fourth-section-home py-2">
  <div class="row row-cols-1 <%= mobile_device? ? "mx-3" : "mx-5" %>">
    <div class="col-12 col-md-4 review-icons">
      <h3 class="text-success text-start mt-5">A Nuflow te ajuda a vender e comprar com mais facilidade</h3>
      <p class="text-start text-gray mt-4"><i class="fas fa-hands-helping me-1"></i> Ajuda na negociação</p>
      <p class="text-start text-gray"><i class="fas fa-check me-2"></i> Verificação da bike</p>
      <p class="text-start text-gray"><i class="far fa-clock me-2"></i> Rapidez na venda</p>
      <p class="text-start text-gray"><i class="fas fa-user-shield me-1"></i> Compra segura</p>
    </div>
    <div class="col-12 col-md-8 mt-2">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators d-none">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active py-5">
            <div class="review-card">
              <h4 class="text-center text-success mt-3">Marcelo Person</h4>
              <p class="text-center text-gray"><small>Comprador</small></p>
              <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              <p class="text-center text-gray">A experiencia foi bem legal. O atendimento foi decisivo para a avaliação, ja que a primeira  bike que queria nao foi aprovada no bike check, que por sinal é algo que da bastante seguranca, já que por ser de outro estado nao deu para ver pessoalmente.</p>
            </div>
          </div>
          <div class="carousel-item py-5">
            <div class="review-card">
              <h4 class="text-center text-success mt-3">Gabriel Parisotto</h4>
              <p class="text-center text-gray"><small>Vendedor</small></p>
              <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              <p class="text-center text-gray">Galera 100% responsável! Vendi minha bike em questão de dias com muita segurança, agilidade e sem incomodo algum.</p>
            </div>
          </div>
          <div class="carousel-item py-5">
            <div class="review-card">
              <h4 class="text-center text-success mt-3">Edwin van Eijk</h4>
              <p class="text-center text-gray"><small>Vendedor</small></p>
              <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              <p class="text-center text-gray">O pessoal é sério e profissional. A bike fica em uma loja parceira e quando a venda é efetuada tem um contrato tudo certinho. Fizeram o depósito depois dos sete dias combinados da venda. Gostei muito da experiência.</p>
            </div>
          </div>
          <div class="carousel-item py-5">
           <div class="review-card">
              <h4 class="text-center text-success mt-3">Arthur Guerra</h4>
              <p class="text-center text-gray"><small>Vendedor</small></p>
              <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              <p class="text-center text-gray"> Empresa de responsa!! já vendi duas bikes com eles, fazem o possível e impossível para dar certo, sucesso para vocês rapaziada! obrigado pela atenção 🤟🏼</p>
            </div>
          </div>
          <div class="carousel-item py-5">
            <div class="review-card">
              <h4 class="text-center text-success mt-3">Flávio Borges</h4>
              <p class="text-center text-gray"><small>Comprador</small></p>
              <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
              <p class="text-center text-gray">O excelente atendimento foi um diferencial para fechar negócio. Agradeço ao time Nuflow, bem satisfeito com a aquisição e o serviço de confiança prestado.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="fifth-section-home py-5 <%= mobile_device? ? "mx-4" : "mx-5" %>">
  <div class="d-flex justify-content-between blog-section">
    <div class="col-12 col-md-6 blog-text">
      <h2 class="text-success mb-4">BLOG</h2>
      <h3 class="mb-5">Confira dicas de como comprar e vender sua bike, aprimore suas técnicas de pilotagem e manutenção e fique por dentro de conteúdos inéditos.</h3>
      <%= link_to "ACESSE", "https://nuflowshop.com.br/blog/", target: "_blank", class: "nav-link mt-5" %>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= link_to "https://nuflowshop.com.br/nova-turbo-levo-s-works-specialized/", class: "", target: "_blank" do %>
            <div class="cards-blog">
              <img src="https://nuflowshop.com.br/wp-content/uploads/2022/09/95221-05_LEVO-SW-CARBON-BLUGSTPRL-BLK-LTSIL_FDSQ-300x169.webp" alt="" class="blog-img">
              <h4 class="text-white text-center <%= mobile_device? ? "mt-3" : "mt-1" %>">Conheça a nova Turbo Levo 2023 S-Works da Specialized</h4>
              <p class="text-center"> <small>A nova Turbo Levo 2023 S-Works da Specialized chegou para abalar o mercado de mountain bikes elétricas. Ela entrega o poder de pedalar mais trilhas por meio de uma combinação inigualável de qualidade de pilotagem, potência e alcance para ir a qualquer lugar. </small> </p>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to "https://nuflowshop.com.br/hans-becking-e-jose-dias-sao-campeoes-do-brasil-ride-2021/", class: "", target: "_blank" do %>
            <div class="cards-blog">
              <img src="https://nuflowshop.com.br/wp-content/uploads/2021/11/400014_993587_mm_211113__4676.jpg" alt="" class="blog-img">
              <h4 class="text-white text-center <%= mobile_device? ? "mt-3" : "mt-1" %>">Hans Becking e José Dias são os campeões da Santander Brasil Ride Bahia 2021</h4>
              <p class="text-center"> <small>Vice-campeonato da edição ficou com Gustavo Xavier e Alex Malacarne, melhor dupla das Américas. Entre as mulheres, as alemãs Naima Diesner e Anna Jördens conquistaram a quinta vitória seguida e garantiram o título em Arraial d’Ajuda</small> </p>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to "https://nuflowshop.com.br/hans-becking-e-jose-dias-sao-campeoes-do-brasil-ride-2021/", class: "", target: "_blank" do %>
            <div class="cards-blog">
              <img src="https://nuflowshop.com.br/wp-content/uploads/2021/11/399989_993530_mm_211112__3931-300x200.jpg" alt="" class="blog-img">
              <h4 class="text-white text-center <%= mobile_device? ? "mt-3" : "mt-1" %>">José Dias (POR) e Marcella Toldi vencem o xco da Santander Brasil Ride Bahia</h4>
              <p class="text-center"> <small>A largada e premiação da sexta etapa foi feita pelo ministro da Cidadania, João Roma. Xavier e Malacarne completaram o top 3 masculino, enquanto o pódio feminino teve as alemãs Anna Jördens e Naima Diesner ao lado de Toldi.</small> </p>
            </div>
          <% end %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="sixth-section-home py-5">
  <h3 class="text-success text-center mb-3">ENCONTRE A GENTE</h3>
  <div class="d-flex justify-content-around <%= mobile_device? ? "mx-4" : "mx-5" %> mb-3 social">
    <div class="cards-social-media youtube text-center">
      <i class="fab fa-youtube"></i>
      <p class="mt-1">Nos assista no</p>
      <h3 class="mb-4">YOUTUBE</h3>
      <%= link_to "Assista", "https://www.youtube.com/channel/UCMvz9XhN0wl39RK4y7Q7cEw", class: "btn-social btn-youtube", target: "_blank"  %>
    </div>

    <div class="cards-social-media instagram text-center">
      <i class="fab fa-instagram social-instagram"></i>
      <p class="mt-1">Nos siga no</p>
      <h3 class="mb-4">INSTAGRAM</h3>
      <%= link_to "Siga", "#", class: "btn-social btn-instagram", target: "_blank"  %>
    </div>

    <div class="cards-social-media nuflow text-center">
      <%= image_tag "white_logo.png", class: "social-logo" %>
      <p class="mt-1">Acompanhe eventos no</p>
      <h3 class="mb-4">NUFLOWPASS</h3>
      <%= link_to "Eventos", "https://nuflowpass.com.br/", class: "btn-social", target: "_blank"  %>
    </div>
  </div>
</div>



<div class="wpp-btn text-success">
  <%= link_to "https://wa.me/553196225074", "data-toggle": "tooltip" , "data-placement": "top", "title": "Fala com um especialista", target: "_blank" do %>
    <i class="fab fa-whatsapp-square"></i>
  <% end %>
</div>
