<div class="first-section-home">
  <div class="flex center around h-100 w-100">
    <div class="<%= mobile_device? ? "w-90" : "w-80" %>">
      <div class="spacer-100 page-desktop"></div>
      <h1>COMPRE BICICLETAS USADAS<br><span class="text-success">COM MECÂNICA VERIFICADA.</span></h1>
      <p class="text-white">Bikes inspecionadas por oficinas qualificadas para você não ter nenhuma surpresa.</p>
      <%= link_to "BIKES À VENDA", "#", class: "btn btn-primary mt-5 px-4" %>
      <%= link_to "VENDER MINHA BIKE", "#", class: "btn btn-outline mt-5 px-4 ms-3" %>
      <% if false %>
        <div class="input-group my-4 text-center">
          <input type="text" class="form-control" placeholder="<%= mobile_device? ? "Busque" : "Eventos, competições, pistas, bike parks, etc..." %>" aria-label="Eventos, competições, pistas, bike parks, etc..." aria-describedby="button-addon2">
          <button class="btn btn-success px-2 px-md-3 text-white text-center" type="button" id="button-addon2">ENCONTRAR EXPERIÊNCIAS</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="second-section-home mb-5">
  <div class="d-flex justify-content-between mb-3">
    <div class="ms-3">
      <h3 class="mt-5 text-success ms-5">CATEGORIAS</h3>
    </div>
  </div>
  <div class="row row-cols-1 category-cards mx-5">
    <%= link_to "#", class: "col-12 col-md-3 mb-2 btn-remove-link bike-link" do %>
      <div class="card">
        <h3 class="text-center mt-5 card-title">BIKES <br> <span class="card-icon"><i class="fas fa-bicycle"></i></span></h3>
      </div>
    <% end %>
    <%= link_to "#", class: "col-12 col-md-3 mb-2 btn-remove-link" do %>
      <div class="card">
        <h3 class="text-center mt-5 card-title">COMPONENTES <br> <span class="card-icon"><img src="bicycle.png" width="32" height="32"></span></h3>
      </div>
    <% end %>
    <%= link_to "#", class: "col-12 col-md-3 mb-2 btn-remove-link" do %>
      <div class="card">
        <h3 class="text-center mt-5 card-title">SERVIÇOS</h3>
      </div>
    <% end %>
    <%= link_to "#", class: "col-12 col-md-3 mb-2 btn-remove-link" do %>
      <div class="card">
        <h3 class="text-center mt-5 card-title">PRODUTOS</h3>
      </div>
    <% end %>
  </div>
</div>
