<div class="h-100 w-100 page-body pb-5">
  <div class="<%= mobile_device? ? "w-100" : "w-100" %> new_announce_banner">
    <div class="spacer-150 page-desktop mb-5"></div>


      <h4 class="text-white announce-banner-title <%= mobile_device? ? "" : "mt-5 " %>">ANUNCIE SUA BIKE OU EQUIPAMENTO PARA MILHARES DE CICLISTAS E VENDA MAIS RÁPIDO.</h4>
      <div class="d-flex justify-content-between gap-2 mt-3">
        <div class="card-banner w-30">
          <p class="text-center"><%= image_tag "maps.png", class: "banner-icons" %></p>
          <h5 class="fs-20">ANUNCIE ONDE OS CICLISTAS ESTÃO</h5>
          <p class="fs-16 text-white">Todo dia, milhares de ciclistas de todo o Brasil acessam a Nuflow em busca de bikes e equipamentos.</p>
        </div>

        <div class="card-banner w-30">
            <p class="text-center"><%= image_tag "snap.png", class: "banner-icons" %></p>
          <h5 class="fs-20">ZERO BUROCRACIA</h5>
          <p class="fs-16 text-white">Anuncie em poucos minutos e sem sair de casa.</p>
        </div>

        <div class="card-banner w-30">
          <p class="text-center"><%= image_tag "discussion.png", class: "banner-icons" %></p>
          <h5 class="fs-20">SEM INTERMEDIÁRIOS</h5>
          <p class="fs-16 text-white">Negocie diretamente com os interessados e decida o melhor negócio para você</p>
        </div>
      </div>


      <div class="new-announce-btns">
        <%# <%= link_to "BIKE", new_bike_path, class: "btn btn-outline mt-3 px-4" %>
        <%= link_to "ANUNCIAR", new_product_path, class: "btn-home-smooth new-announce-btn", id: "new-announce" %>
      </div>


    <% if false %>
      <div class="input-group my-4 text-center">
        <input type="text" class="form-control" placeholder="<%= mobile_device? ? "Busque" : "Bicicletas, assessórios, serviços, etc..." %>" aria-label="Bicicletas, assessórios, serviços, etc..." aria-describedby="button-addon2">
        <button class="btn btn-success px-2 px-md-3 text-white text-center" type="button" id="button-addon2">ENCONTRAR BICICLETAS</button>
      </div>
    <% end %>
  </div>

  <h3 class="text-center text-success mt-3">Nossos preços</h3>
  <table class="table m-auto price-table <%= mobile_device? ? "w-90" : " w-60" %>">
    <thead>
      <tr class="text-center">
        <th scope="col" class="text-white">Valor do produto anunciado</th>
        <th scope="col" class="text-white">Valor pago pelo anúncio</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center align-middle">
        <td class="text-center">Até R$1000,00</td>
        <td>Gratuito</td>
      </tr>
      <tr class="text-center  align-middle">
        <td>R$1.000,00 - R$5.000,00</td>
        <td>R$39,00</td>
      </tr>
      <tr class="text-center  align-middle">
        <td>R$5.000,00 - R$10.000,00</td>
        <td>R$59,00</td>
      </tr>
      <tr class="text-center  align-middle">
        <td>R$10.000,00 - R$20.000,00</td>
        <td>R$89,00</td>
      </tr>
      <tr class="text-center  align-middle ">
        <td>R$20.000,00 - R$30.000,00</td>
        <td>R$129,00</td>
      </tr>
      <tr class="text-center">
        <td>Acima de R$30.000,00</td>
        <td>R$159,00</td>
      </tr>
    </tbody>
  </table>


  <h3 class="text-center text-success mt-5">Como funciona</h3>
  <div class="<%= mobile_device? ? "mx-4" : "mx-5" %>">
    <div class="d-flex justify-content-between gap-2  section-how-works">
      <div class="card-how-works">
        <p class="text-center"><%= image_tag "online-registration.png", class: "announce-icons" %></p>
        <h4 class="text-center">Cadastro</h4>
        <p class="text-center"><small>Você faz o cadastro da sua bike ou produto adicionando o máximo de informações, isso é importante para aumentar as chances de vender.</small></p>
      </div>

      <div class="card-how-works <%= mobile_device? ? "mt-3" : "" %>">
        <p class="text-center"><%= image_tag "operation.png", class: "announce-icons" %></p>
        <h4 class="text-center">Pagamento</h4>
        <p class="text-center"><small>Faça o pagamento por pix ou cartão. O valor dos anúncios são baseados no preço do produto conforme tabela acima.</small></p>
      </div>

      <div class="card-how-works <%= mobile_device? ? "mt-3" : "" %>">
        <p class="text-center"><%= image_tag "approval.png", class: "announce-icons" %></p>
        <h4 class="text-center">Aprovação</h4>
        <p class="text-center"><small>Seu anúncio é encaminhado para revisão e caso esteja tudo em ordem ele é aprovado pela nossa equipe. Caso contrário entraremos em contato para atualizar as informações necessárias.</small></p>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-4 gap-2 section-how-works">
      <div class="card-how-works  <%= mobile_device? ? "w-100" : "w-30" %>">
        <p class="text-center"><%= image_tag "disseminate.png", class: "announce-icons" %></p>
        <h4 class="text-center">Publicação</h4>
        <p class="text-center"><small>Agora sim, seu anúncio é publicado em nossas plataformas e será visto por milhares de ciclistas, de todo o Brasil.</small></p>
      </div>

      <div class="card-how-works  <%= mobile_device? ? "mt-3 w-100" : "w-30" %>">
        <p class="text-center"><%= image_tag "negotiation.png", class: "announce-icons" %></p>
        <h4 class="text-center">Negociação</h4>
        <p class="text-center"><small>Você recebe propostas e mensagens dos interessados direto no chat ou celular (quando disponibilizado). Fique tranquilo, você será notificado(a) por e-mail sempre que tiver uma atualização no chat.</small></p>
      </div>


    </div>
  </div>


  <div id="frequent-questions" class="frequent-questions px-5 mt-2">
    <h3 class="text-center text-success mb-4">Dúvidas frequentes</h3>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed accordion-subtitle" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Como vender pela Nuflow?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Vender com a Nuflow é simples!<br>
            1- Você anuncia clicando “vender”, e fazendo seu cadastro.<br>
            2- Você faz o pagamento do anúncio por PIX ou cartão. O valor do anúncio varia de acordo com o preço do produto.<br>
            3- Seu anúncio é aprovado e visto por milhares de ciclistas de todo o Brasil.<br>
            4- Você negocia diretamente com os interessados através do chat no site ou pelo seu contato (se disponibilizado).<br>

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed accordion-subtitle" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Anunciei meu produto, e agora?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Seu produto passará por uma aprovação pela nossa equipe e logo estará no ar. Se necessário, entraremos em contato para atualizar as informações necessárias.<br>
            Ele será divulgado e visto por milhares de ciclistas, de todo Brasil, que acessam nosso site e nos acompanham nas redes sociais.<br>
            É rapidinho até que você receba uma proposta pelo chat e venda seu produto.<br>
            Você será notificado(a) por e-mail sempre que tiver uma atualização no chat.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed accordion-subtitle" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Qual a diferença das bikes e produtos certificados?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            As bikes e produtos certificados são anunciados por lojas e oficinas credenciadas pela Nuflow, que verificam o estado do produto e contam com recursos para garantir uma maior segurança para sua compra.<br>
            Em conjunto com a Nuflow é possível comprar sua bike ou equipamento de onde estiver, com pagamento parcelado e assegurado até o recebimento do produto.<br>
            Além disso, você é atendido por vendedores experientes para te ajudar a encontrar a bike ou equipamento ideal para você.<br>
            Veja as <%= link_to "Bikes certificadas",  {:controller => "bikes", :action => "index", :verified => true}, class: "nav-link fs-18", id: "certified-bikes" %> ou <%= link_to "Produtos certificados",  {:controller => "products", :action => "index", :verified => true}, class: "nav-link fs-18", id: "certified-products" %>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed accordion-subtitle" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Tenho interesse em um produto, o que fazer?
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            A Nuflow te ajuda a encontrar e comprar a bike ou equipamento certo com facilidade:<br>
            1 - Você navega pelo site através de filtros específicos para ciclismo e encontra os melhores produtos para você.<br>
            2 - Você negocia diretamente com os vendedores dos produtos, chegando ao melhor negócio. Para isso, basta ir até o anúncio, clicar em “conversar com anunciante” e iniciar a negociação.<br>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
