<div class="h-100 w-100 page-body pb-5">
  <div class="<%= mobile_device? ? "w-100" : "w-100" %> new_announce_banner">
    <div class="spacer-150 page-desktop mb-5"></div>


      <h4 class="text-white announce-banner-title <%= mobile_device? ? "" : "mt-5 " %>">ANUNCIE SUA BIKE OU EQUIPAMENTO PARA MILHARES DE CICLISTAS E VENDA MAIS RÁPIDO.</h4>
      <div class="d-flex justify-content-between gap-2 mt-3">
        <div class="card-banner w-30">
          <p class="text-center"><%= image_tag "maps.png", class: "banner-icons" %></p>
          <h5 class="fs-20">ANUNCIE ONDE OS CICLISTAS ESTÃO</h5>
          <p class="fs-16 text-white">Todo dia, milhares de ciclistas de todo o Brasil acessam a Nuflow em busca de bikes e equipamentos.</p>
        </div>

        <div class="card-banner w-30">
            <p class="text-center"><%= image_tag "snap.png", class: "banner-icons" %></p>
          <h5 class="fs-20">ZERO BUROCRACIA</h5>
          <p class="fs-16 text-white">Anuncie em poucos minutos e sem sair de casa.</p>
        </div>

        <div class="card-banner w-30">
          <p class="text-center"><%= image_tag "discussion.png", class: "banner-icons" %></p>
          <h5 class="fs-20">SEM INTERMEDIÁRIOS</h5>
          <p class="fs-16 text-white">Negocie diretamente com os interessados e decida o melhor negócio para você</p>
        </div>
      </div>


      <div class="new-announce-btns">
        <%# <%= link_to "BIKE", new_bike_path, class: "btn btn-outline mt-3 px-4" %>
        <%= link_to "ANUNCIAR", new_product_path, class: "btn-home-smooth" %>
      </div>


    <% if false %>
      <div class="input-group my-4 text-center">
        <input type="text" class="form-control" placeholder="<%= mobile_device? ? "Busque" : "Bicicletas, assessórios, serviços, etc..." %>" aria-label="Bicicletas, assessórios, serviços, etc..." aria-describedby="button-addon2">
        <button class="btn btn-success px-2 px-md-3 text-white text-center" type="button" id="button-addon2">ENCONTRAR BICICLETAS</button>
      </div>
    <% end %>
  </div>

  <h3 class="text-center text-success mt-3">Nossos preços</h3>
  <table class="table m-auto price-table <%= mobile_device? ? "w-90" : " w-60" %>">
    <thead>
      <tr class="text-center">
        <th scope="col" class="text-white">Valor do produto anunciado</th>
        <th scope="col" class="text-white">Valor pago pelo anúncio</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center align-middle">
        <td class="text-center">Até R$1000,00</td>
        <td>Gratuito</td>
      </tr>
      <tr class="text-center  align-middle">
        <td>R$1.000,00 - R$5.000,00</td>
        <td>R$39,00</td>
      </tr>
      <tr class="text-center  align-middle">
        <td>R$5.000,00 - R$10.000,00</td>
        <td>R$59,00</td>
      </tr>
      <tr class="text-center  align-middle">
        <td>R$10.000,00 - R$20.000,00</td>
        <td>R$89,00</td>
      </tr>
      <tr class="text-center  align-middle ">
        <td>R$20.000,00 - R$30.000,00</td>
        <td>R$129,00</td>
      </tr>
      <tr class="text-center">
        <td>Acima de R$30.000,00</td>
        <td>R$159,00</td>
      </tr>
    </tbody>
  </table>


  <h3 class="text-center text-success mt-5">Como funciona</h3>
  <div class="<%= mobile_device? ? "mx-4" : "mx-5" %>">
    <div class="d-flex justify-content-between gap-2  section-how-works">
      <div class="card-how-works">
        <p class="text-center"><%= image_tag "online-registration.png", class: "announce-icons" %></p>
        <h4 class="text-center">Cadastro</h4>
        <p class="text-center"><small>Você faz o cadastro da sua bike ou produto adicionando o máximo de informações, isso é importante para aumentar as chances de vender.</small></p>
      </div>

      <div class="card-how-works <%= mobile_device? ? "mt-3" : "" %>">
        <p class="text-center"><%= image_tag "operation.png", class: "announce-icons" %></p>
        <h4 class="text-center">Pagamento</h4>
        <p class="text-center"><small>Faça o pagamento por pix ou cartão. O valor dos anúncios são baseados no preço do produto conforme tabela acima.</small></p>
      </div>

      <div class="card-how-works <%= mobile_device? ? "mt-3" : "" %>">
        <p class="text-center"><%= image_tag "approval.png", class: "announce-icons" %></p>
        <h4 class="text-center">Aprovação</h4>
        <p class="text-center"><small>Agora sim, seu anúncio é publicado em nossas plataformas e é visto por milhares de ciclistas, de todo o Brasil. </small></p>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-4 gap-2 section-how-works">
      <div class="card-how-works  <%= mobile_device? ? "w-100" : "w-30" %>">
        <p class="text-center"><%= image_tag "disseminate.png", class: "announce-icons" %></p>
        <h4 class="text-center">Publicação</h4>
        <p class="text-center"><small>Agora sim, seu anúncio é publicado em nossas plataformas e será visto por milhares de ciclistas, de todo o Brasil.</small></p>
      </div>

      <div class="card-how-works  <%= mobile_device? ? "mt-3 w-100" : "w-30" %>">
        <p class="text-center"><%= image_tag "negotiation.png", class: "announce-icons" %></p>
        <h4 class="text-center">Negociação</h4>
        <p class="text-center"><small>Você recebe propostas e mensagens dos interessados direto no chat ou celular (quando disponibilizado). Fique tranquilo, você será notificado(a) por e-mail sempre que tiver uma atualização no chat.</small></p>
      </div>


    </div>
  </div>


  <div class="frequent-questions px-5 mt-2">
    <h3 class="text-center text-success mb-4">Ainda com duvida</h3>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Por que comprar?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">- Navegue na Nuflow e utilize filtros específicos para facilitar a sua busca. <br>
            - Conte com a assessoria de especialistas para encontrar a bike ideal para você. <br>
            - Faça sua compra com segurança, podendo parcelar em até 12 vezes. <br>
            - Uma oficina mecânica fará o processo de Bike Check antes da entrega da bicicleta, emitindo um laudo com as características e o estado mecânico da bicicleta.<br>
            - Após aprovação do laudo, a bike é entregue em oficina parceira na sua cidade ou na sua residência. <br>
            - Seu dinheiro é retido durante todo o processo, com direito à devolução em até 7 dias após o recebimento da bike.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Por que vender?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">- Anuncie sua bike gratuitamente na plataforma. <br>
            - Conte com a ajuda de especialistas se precisar. <br>
            - Fazemos o atendimento dos interessados em sua bike, portanto, preocupe-se apenas com as propostas. <br>
            - Oferecemos parcelamento em até 12 vezes e soluções de frete para os compradores. <br>
            - Ao realizar a venda, o próximo passo é levar sua bike até uma oficina parceira para realização do Bike Check, um processo de verificação da condição da bike. <br>
            - A mesma oficina pode realizar a desmontagem e embalagem da bike, sem custos adicionais. <br>
            - Em seguida, basta entregar a bike na transportadora. Fique tranquilo(a), entraremos em contato para te orientar. <br>
            - Você recebe seu dinheiro à vista em 7 dias após o recebimento da bike pelo comprador ou em 15 dias da compra, mesmo em vendas parceladas.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            O que é o bike check?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">- O Bike Check é um serviço realizado por oficinas mecânicas antes da entrega das bikes vendidas. <br>
            - É normal que uma bicicleta usada apresente marcas de uso e desgaste dos componentes, por isso, é emitido um laudo com as características e o estado mecânico da bike. <br>
            - Durante esse processo o pagamento do comprador fica seguro, com garantia de devolução. <br>
            - Além disso, é realizada uma revisão na bicicleta, para que o comprador a receba e só se preocupe em pedalar.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            É seguro?
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">- Todas bikes usadas vendidas na Nuflow passam por um processo de certificação de transferência da bike, com inspeção de posse e validação de autenticidade digital. <br>
            - Na compra de uma bicicleta, o pagamento do comprador fica seguro com a Nuflow e é dado o direito à devolução da bicicleta em até 7 dias após o recebimento.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Quanto custa?
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Você não paga nada para anunciar! Temos uma comissão apenas no sucesso da venda, sendo de 10% do valor total da bicicleta, com mínimo de R$480,00 e máximo de R$2900,00.</div>
        </div>
      </div>
    </div>
  </div>
</div>
