<div class="container py-3 <%= mobile_device? ? "w-90 mx-4" : "w-100" %>">
  <p>Procurando por <span class="text-success"><%= params[:query] %></span></p>
  <% if @bikes.present? %>
    <div class="row row-cols-1">
      <h3 class="text-center text-success my-3">Bikes</h3>
      <% @bikes.each do | bike | %>
        <%= link_to bike_path(bike), class: "col-12 col-md-3", target: "_blank" do %>
          <div class="cards-bikes-likes mt-3">
            <div id="carouselExampleControls<%= bike.id.to_s %>" class="carousel slide w-100" data-bs-ride="carousel">
              <% if bike.photos.attached? %>
                <div class="carousel-inner">
                  <% bike.photos.each_with_index do |photo, i| %>
                    <div class="show-carousel-item carousel-item <%= i.zero? ? "active" : ""  %>">
                      <%= cl_image_tag photo.key, crop: :fit, class: 'd-block card-img'  %>
                    </div>
                  <% end %>
                </div>
              <% else  %>
                  <%= image_tag "bike-forest.png", class: "card-img" %>
              <% end %>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls<%= bike.id.to_s %>" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls<%= bike.id.to_s %>" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="d-flex justify-content-center gap-2 mt-1">
              <h4 class="card-title text-center"><%= bike.frame_brand %></h4>
              <h4 class="card-title text-center"><%= bike.model %></h4>
              <% if bike.verified %>
                <%= image_tag "badge.png", class: "verified-badge mt-1"%>
              <% end %>
            </div>
            <h4 class="text-center card-title mt-1">
              <%= number_to_currency(bike.price_in_cents / 100, unit: "R$", separator: ",", delimiter: ".") %>
            </h4>
            <hr class="index-line"/>
            <div class="card-content my-2">
              <div class="d-flex justify-content-around">
                <div class="infos">
                  <p><%= bike.type_display %></p>
                  <p class="mt-1"><%= bike.city.name %> - <%= bike.state.acronym %></p>
                </div>
                <div class="infos">
                  <% if bike.bike_type == 'bike' %>
                    <%= image_tag "normal-bike.png", class: "icon-card-index ms-2"%>
                  <% else %>
                    <%= image_tag "e-bike.png", class: "icon-card-index ms-2"%>
                  <% end %>
                  <form action="likes" method="post" class="w-10" >
                    <input type="hidden" name="[likeble_id]" id="bike-id" value=<%= bike.id %>/>
                    <input type="hidden" name="[likeble_type]" id="type" value="Bike"/>
                    <button type="submit" class="like-btn mt-1"><i class="far fa-heart ms-1"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <li class="text-center mt-0 w-100">
      <h5>Não encontramos nada para bikes.</h5>
    </li>
  <% end %>

  <% if @products.present? %>
    <div class="row row-cols-1">
      <h3 class="text-center text-success mb-3 mt-5">Produtos</h3>
      <% @products.each do | product | %>
        <%= link_to product_path(product), class: "col-12 col-md-3", target: "_blank" do %>
          <div class="cards-products-search mt-3">
            <div id="carouselExampleControls<%= product.id.to_s %>" class="carousel slide w-100" data-bs-ride="carousel">
            <% if product.photos.attached? %>
              <div class="carousel-inner">
                <% product.photos.each_with_index do |photo, i| %>
                  <div class="show-carousel-item carousel-item <%= i.zero? ? "active" : ""  %>">
                    <%= cl_image_tag photo.key, crop: :fit, class: 'd-block card-img'  %>
                  </div>
                <% end %>
              </div>
            <% else  %>
                <%= image_tag "bike-forest.png", class: "card-img" %>
            <% end %>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls<%= product.id.to_s %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls<%= product.id.to_s %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
            <div class="d-flex justify-content-center gap-2 mt-1">
              <h4 class="card-title text-center"><%= product.brand %></h4>
              <h4 class="card-title text-center"><%= product.model %></h4>
              <% if product.verified %>
                <%= image_tag "badge.png", class: "verified-badge mt-1"%>
              <% end %>
            </div>
            <h4 class="text-center card-title mt-1">
              <%= number_to_currency(product.price_in_cents / 100, unit: "R$", separator: ",", delimiter: ".") %>
            </h4>
            <hr class="index-line"/>
            <div class="card-content my-2">
              <div class="d-flex justify-content-around">
                <div class="infos">
                  <p><%= product.product_type.prompt %></p>
                  <p class="mt-1"><%= product.city.name %> - <%= product.state.acronym %></p>
                </div>
                <div class="infos">
                  <% if  ["air_bomb", "bottle_cage", "eletronics", "oil_lubricant", "stand", "tools", "car_protectors", "training_roller", "bike_rack", "water_bottle"].include?(product.product_type.name) %>
                    <%= image_tag "accessories.png", class: "icon-card-index ms-2"%>
                  <% elsif  ["battery", "brake", "brake_levers", "cassete", "chain", "chainring", "crankset", "fender", "frame", "front_derailleur", "front_shifter", "front_suspension", "full_wheel", "grips", "handlebar", "headset", "hub", "pedals", "rim", "saddle", "seat_post", "spoke", "rear_derailleur", "rear_shifter", "rear_suspension", "stem", "tyre", "adapters", "blocking", "bearing", "brake_pad", "central_movement", "chain_guide", "relation_kit_complete_group", "hanger", "power_meter", "sheave", "tube", "front_fork", "brake_disc"].include?(product.product_type.name) %>
                    <%= image_tag "frame.png", class: "icon-card-index ms-2"%>
                  <% elsif  ["bretelle", "coat", "pants", "shorts", "inner_shorts", "shirt", "vest", "windbreaker", "thermal_clothing", "helmet", "elbow_pad", "knee_pad", "hydration_backpack", "fanny_pack", "sneaker", "socks", "gloves", "cap", "glasses"].include?(product.product_type.name) %>
                    <%= image_tag "tshirt.png", class: "icon-card-index ms-2"%>
                  <% end %>
                  <div data-controller="like-submit" >
                    <p class="d-none" data-like-submit-target="likebleId"><%= product.id %></p>
                    <p class="d-none" data-like-submit-target="likebleType">Product</p>
                    <button type="button" data-like-submit-action="click->like-submit#submitLike" class="like-btn mt-1"><i class="far fa-heart ms-1"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <li class="text-center mt-0 w-100">
        <h5>Não encontramos nada para produto.</h5>
      </li>
    <% end %>
  </div>
</div>
