<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    /* margin: 0 auto; */
    margin-top: 10px;
    border: 1px solid #00c454;
    border-radius: 50px;
    box-shadow: 5px 8px 12px #e0e0e0;
    align-items: center;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding-bottom: 20px;
    background: #101010;
  }

  h6 {
    font-size: 12;
    font-weight: lighter;
    color: white;
    text-align: center;
    margin-bottom: 0;
    margin-top: 40px;
  }

  .header {
    background-color: #00c454;
    color: white !important;
    padding: 5px;
    text-align: center;
    border-radius: 10px 10px 0 0;
  }

  .mail-content {
    padding: 10px 20px;
  }
  p {
    color: white;
    text-align: center;
  }

  .item-name, h2 {
    color: #00c454;
  }

  .detail-info {
    color: #00c454;
    font-size: 12px;
  }

  .btn-invoice {
    background-color: transparent;
    border-radius: 4px;
    color: #00c454;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 1px solid #00c454;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .btn-invoice:hover {
    box-shadow: 0px 0px 20px 0px #00c4545e;
  }

  .social-icon {
    width: 25px;
    height: 25px;
    filter: invert(46%) sepia(99%) saturate(1234%) hue-rotate(110deg) brightness(97%) contrast(102%);
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .social-icon:hover {
    filter: invert(46%) sepia(117%) saturate(1261%) hue-rotate(128deg) brightness(100%) contrast(102%);

  }

 .social-icon-face {
    width: 22px;
    height: 22px;
    filter: invert(46%) sepia(99%) saturate(1234%) hue-rotate(110deg) brightness(97%) contrast(102%);
  }

  .social-icon-face:hover {
    filter: invert(46%) sepia(117%) saturate(1261%) hue-rotate(128deg) brightness(100%) contrast(102%);
  }

  .footer {
    text-align: center;
    padding-top: 10px;
  }

  .footer-icon {
    width: 22px;
    height: 22px;
  }

  .footer-brand {
    margin-top: 10px;
  }

  .footer-line {
    border: 0.1px solid #00c454;
    width: 30%;
    height: 0.2px;
    
  }

  .invoice-link {
    text-align: center;
    margin: 0 !important;
  }

  .text-center{
    text-align: center;
  }
</style>

<body>
  <div class="header">
    <h3>Yeah! Você tem uma nova mensagem no chat.</h3>
  </div>
  <div class="mail-content">
    <p>Olá,</p>
    <p>Tem gente interessada em comprar o seu produto!</p>
    <p>Você recebeu uma nova mensagem no chat. Não perca essa chance e corra para responder:</p>
    <div class="text-center">
      <a href="https://market.nuflow.com.br/user/<%= @client.id %>" target="_blank" class="btn-invoice">Responder chat</a>
    </div>

    <p class="text-center">Dúvidas? Entre em contato com através do email contato@nuflowshop.com.br</p>

    <hr class="footer-line">
    <div class="footer">
      <%= image_tag "white_logo.png", class: "footer-brand"%>
      <div class="social-icons">
        <a href="#" class="footer-icon"><%= image_tag "youtube.png", class: "social-icon" %></a>
        <a href="#"><%= image_tag "instagram.png", class: "social-icon" %></a>
        <a href="#"><%= image_tag "facebook.png", class: "social-icon-face" %></a>
      </div>
    </div>
  </div>
</body>
