<div class="container my-5">
  <h1 class="mb-3">Meus produtos</h1>
  <% if @products.blank? %>
    <h3>Ainda não possui produto cadastrada</h3>
    <%= link_to "Anunciar", new_announce_path, class: "btn btn-outline" %>
  <% else %>
    <% @products.each do |product| %>
      <div class="my-product-card mt-3">
        <div class="row row-cols-1">
          <div id="carouselExampleControls" class="carousel slide col-12 col-md-5" data-bs-ride="carousel">
            <% if product.photos.attached? %>
              <div class="carousel-inner">
                <% product.photos.each_with_index do |photo, i| %>
                  <div class="show-carousel-item carousel-item <%= i.zero? ? "active" : ""  %>">
                    <%= cl_image_tag photo.key, crop: :fit, class: 'd-block my-product-img'  %>
                  </div>
                <% end %>
              </div>
            <% else  %>
                <%= image_tag "bike-forest.png", class: "my-product-img" %>
            <% end %>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>
          <div class="col-12 col-md-5 mt-3 ">
            <p><strong>Marca:</strong> <%= product.brand %></p>
            <p><strong>Nome:</strong> <%= product.model %></p>
            <p><strong>Categoria:</strong> <%= product.category.name %></p>
            <p><strong>Preço:</strong> <%= number_to_currency(product.price_in_cents / 100, unit: "R$", separator: ",", delimiter: ".")%></p>
            <p><strong>Descrição:</strong> <%= product.description %></p>
            <p><strong>Produto:</strong> <%= product.product_type.name %></p>
            <p><strong>Quantidade:</strong> <%= product.quantity %></p>
          </div>
          <div class="col-12 col-md-2 mt-3">
            <% if product.advertisement.status === "waiting_review" %>
              <p><span class="topic-cards-index-media text-primary"><i class="fas fa-clock mt-1 me-2"></i>Aguardando revisão</p>
            <% elsif  product.advertisement.status === "approved" %>
              <p><span class="topic-cards-index-media text-success"><i class="fas fa-check mt-1 me-2"></i>Publicado</p>
            <% elsif  product.advertisement.status === "update_request" %>
              <p><span class="topic-cards-index-media text-warning"><i class="fas fa-clock mt-1 me-2"></i>Necessita update</p>
            <% end %>
            <%= link_to edit_product_path(product.id), class: " mt-3 links-profile"  do %>
              <i class="fas fa-pen"></i>  Editar
            <% end %>
            <%= link_to product, method: :delete, data: { confirm: "Tem certeza que deseja remover #{product.product_type.name}?"}, class: " links-profile"  do %>
              <i class="fas fa-trash-alt"></i>  Remover
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <h1 class="mt-5 mb-3">Minhas Bikes</h1>
  <% if @bikes.blank? %>
    <h3>Ainda não possui bike cadastrada</h3>
    <%= link_to "Anunciar", new_announce_path, class: "btn btn-outline mt-3" %>
  <% else %>
    <% @bikes.each do |bike| %>
      <div class="my-product-card mt-3">
        <div class="row row-cols-1">
          <div id="carouselExampleControls" class="carousel slide col-12 col-md-5" data-bs-ride="carousel">
            <% if bike.photos.attached? %>
              <div class="carousel-inner">
                <% bike.photos.each_with_index do |photo, i| %>
                  <div class="show-carousel-item carousel-item <%= i.zero? ? "active" : ""  %>">
                    <%= cl_image_tag photo.key, crop: :fit, class: 'd-block my-product-img'  %>
                  </div>
                <% end %>
              </div>
            <% else  %>
                <%= image_tag "bike-forest.png", class: "my-product-img" %>
            <% end %>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="col-12 col-md-5 mt-3 ">
            <p><strong>Local:</strong> <%= bike.locality %></p>
            <p><strong>Categoria:</strong> <%= bike.category.name %></p>
            <p><strong>Tipo:</strong> <%= bike.bike_type %></p>
            <p><strong>Preço:</strong> <%= number_to_currency(bike.price_in_cents / 100, unit: "R$", separator: ",", delimiter: ".")%></p>
            <p><strong>Modalidade:</strong> <%= bike.modality %></p>
            <p><strong>Quantidade:</strong> <%= bike.quantity %></p>
            <p><strong>Modelo:</strong> <%= bike.model %></p>
          </div>
          <div class="col-12 col-md-2 mt-3">
           <% if bike.advertisement.status === "waiting_review" %>
              <p><span class="topic-cards-index-media text-primary"><i class="fas fa-clock mt-1 me-2"></i>Aguardando revisão</p>
            <% elsif  bike.advertisement.status === "approved" %>
              <p><span class="topic-cards-index-media text-success"><i class="fas fa-check mt-1 me-2"></i>Publicado</p>
            <% elsif  bike.advertisement.status === "update_request" %>
              <p><span class="topic-cards-index-media text-warning"><i class="fas fa-clock mt-1 me-2"></i>Necessita update</p>
            <% end %>
            <%= link_to edit_bike_path(bike), class: " mt-3 links-profile"  do %>
              <i class="fas fa-pen"></i>  Editar
            <% end %>
            <%= link_to remove_path(bike), method: :delete, data: { confirm: "Tem certeza que deseja remover #{bike.model}?"}, class: " links-profile"  do %>
              <i class="fas fa-trash-alt"></i>  Remover
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
