<div class="<%= mobile_device? ? "p-1" : "p-5" %>">
  <div class="flex center between">
    <h1 class="title">Cupons</h1>
    <%= link_to new_admin_coupon_path, class: "new-admin-coupon-btn" do %>
      <i class="fa fa-plus mr-3"></i> Adicionar novo cupom
    <% end %>
  </div>

  <div>
    <table class="table">
      <thead>
        <th class="">Código</th>
        <th class="">Valor</th>
        <th class="hide-on-mobile">Data de expiração</th>
        <th class="hide-on-mobile">Quantidade</th>
        <th class="hide-on-mobile">Utilizados</th>
        <th class="">Restantes</th>
        <th class="hide-on-mobile">Editar</th>
      </thead>
      <tbody>
        <% @coupons.each do |coupon| %>
          <tr >
            <td class="<%= mobile_device? ? "fs-16" : "" %> align-middle">
              <% if mobile_device? %>
                <%= coupon.code.truncate(5) %>
              <% else %>
                <%= coupon.code %>
              <% end %>
            </td>
            <td class="align-middle">
              <% if coupon.kind == 'percentage' %>
                <%= coupon.discount %>%
              <% else %>
                <%= display_price_in_cents(coupon.discount.to_f) %>
              <% end %>
            </td>

            <td class="align-middle hide-on-mobile">
              <%= coupon.valid_until.strftime("%d/%m/%Y") %>
            </td>
            <td class="align-middle hide-on-mobile">
              <%= coupon.redemption_limit %>
            </td>
            <td class="align-middle hide-on-mobile">
              <%= coupon.advertisements.count %>
            </td>
            <td class="align-middle">
              <%= coupon.redemption_limit - coupon.advertisements.count %>
            </td>
            <td class="align-middle">
              <%= link_to edit_admin_coupon_path(coupon), "edit-admin-coupon-btn" do %>
                <i class="fas fa-edit"></i>Editar
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
