<div class="p-5">
  <div class="flex center between mb-3">
    <h1 class="fw-700">Cupons</h1>
    <%= link_to new_admin_coupon_path do %>
      <i class="fa fa-plus mr-3"></i> Adicionar novo cupom
    <% end %>
  </div>

  <div>
    <table class="table">
      <thead>
        <th>Código</th>
        <th>Valor</th>
        <th>Tipo</th>
        <th>Data de expiração</th>
        <th>Quantidade</th>
        <th>Utilizados</th>
        <th>Editar</th>
      </thead>
      <tbody>
        <% @coupons.each do |coupon| %>
          <tr class="table-row">
            <td class="cell">
              <p class="fs-24 fw-700 mr-3"><%= coupon.code %></p>
            </td>
            <td class="cell">
              <% if coupon.kind == 'percentage' %>
                <p class="fs-24 fw-700 mr-3"><%= coupon.discount %>%</p>
              <% else %>
                <p class="fs-24 fw-700 mr-3"><%= display_price_in_cents(coupon.discount.to_f) %></p>
              <% end %>
            </td>
            <td class="cell">
              <p class="fs-24 fw-700 mr-3"><%= coupon.kind %></p>
            </td>
            <td class="cell">
              <p class="fs-24 fw-700 mr-3"><%= coupon.valid_until.strftime("%d/%m/%Y") %></p>
            </td>
            <td class="cell">
              <p class="fs-24 fw-700 mr-3"><%= coupon.redemption_limit %></p>
            </td>
            <td class="cell">
              <p class="fs-24 fw-700 mr-3"><%= coupon.advertisements.count %></p>
            </td>
            <td class="cell">
              <%= link_to edit_admin_coupon_path(coupon) do %>
                <i class="fas fa-edit"></i>Editar
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
